## subtemplate, use inside the javascript tag of another page
##
## used by:
## input_js.vm
##
    function activate_hack() {
        document.getElementById("date_js_hack").style.display="inline";
        document.getElementById("hide_birthday").style.display="none";
        var def=document.getElementsByName("param_birthday")[0].value;
        
        document.getElementById("id_monthlist").selectedIndex=Number(def.substr(5,2));
        document.getElementById("id_bday").value=def.substr(8,2);
        document.getElementById("id_byear").value=def.substr(0,4);
            
        if(def == "") {
            document.getElementById("id_bday").value="";
            document.getElementById("id_monthlist").selectedIndex=0;
            document.getElementById("id_byear").value="";
            update_hack();
        } else {
            document.getElementById("id_bday").value=def.substr(8,2);
            document.getElementById("id_monthlist").selectedIndex=Number(def.substr(5,2));
            document.getElementById("id_byear").value=def.substr(0,4);
        }
        
        var help_buttons=document.getElementsByName("help_button");
    }

    function update_hack() {
        var id_monthlist=document.getElementById("id_monthlist");
        var myday=Number(document.getElementById("id_bday").value);
        var myyear=Number(document.getElementById("id_byear").value);
        if (myyear<10) { 
            myyear+=2000;
        } else {
            if (myyear<100) { myyear+=1900; }
        }
        document.getElementsByName("param_birthday")[0].value= String(myyear+10000).substr(1,4) + "-" + id_monthlist.options[id_monthlist.selectedIndex].value + "-" + String(myday+100).substr(1,2);
    }
