## Strings used in the confirmation page
##
## the ## at the end of lines prevents blank lines in the output of this template
##
## parameter: $urlNew
##
#set($strstoreSuccessMsg = "Your changes have been stored to the database.")##
#set($strlistIntroMsg = "We currently have these announcements in the database. Please do not change the announcements of other departments.")##
#set($strlistColCid = "Template&nbsp;name")##
#set($strlistColLang = "Language")##
#set($strlistColSubject = "Subject")##
#set($strlistColActions = "Actions")##
#set($strsureToDeleteMsg = "Are you sure you wish to <b>delete</b> this mail template?")##
#set($strdeleteYes = "yes!")##
#set($strdeleteNo = "no!")##
#set($stractionEdit = "edit")##
#set($stractionCopy = "copy")##
#set($stractionDelete = "delete")##
#set($stractionNew = "Add a new announcement <a href='$urlNew'>by clicking here</a>.")##
#set($strcolName = "Name:")##
#set($strcolLang = "Language:")##
#set($strcolSubject = "Subject:")##
#set($strplaceholdersMsg = "placeholders:")##
#set($strsendTestEmail = "Send me a test email!")##
#set($strsubmitSave = "Save!")##
