## Strings used in the confirmation page
##
## the ## at the end of lines prevents blank lines in the output of this template
##
## parameter: $url
##
#set($strstoreSuccessMsg = "Your changes have been stored to the database.")##
#set($strcolRlPattern = "RL&nbsp;Name&nbsp;Pattern")##
#set($strcolNickPattern = "Nickname&nbsp;Pattern")##
#set($strcolEmailPattern = "Email&nbsp;Pattern")##
#set($strcolBanReason = "Motivation")##
#set($strsureToDeleteMsg = "Are you sure you wish to <b>delete</b> this ban?")##
#set($strdeleteYes = "yes!")##
#set($strdeleteNo = "no!")##
#set($strlistHeading = "We currently have these bans in the database.")##
#set($strlistHeadID = "ID")##
#set($strlistHeadName = "Firstname Lastname")##
#set($strlistHeadNick = "OR Nickname")##
#set($strlistHeadEmail = "OR Email")##
#set($strlistHeadBanReason = "Motivation")##
#set($strlistHeadAction = "Action")##
#set($stractionEdit = "edit")##
#set($stractionCopy = "copy")##
#set($stractionDelete = "delete")##
#set($stractionNew = "Add a new ban <a href='$urlNew'>by clicking here</a>.")##
#set($strexplanationAccepting = "In case of a match, accepting an attendee includes an extra step where a checkmark has to be set before the accept can proceed. " +
"If you determine that this is indeed a banned person, you should maybe cancel instead of accept. If unsure, the board of directors decides. " +
"Once accepted, we have made the attendee a binding contract offer, and a ban needs to be communicated outside the registration system, then the " +
"attendee can be cancelled.")##
#set($strexplanationPatterns = "Patterns are standard ISO regular expressions. You can leave any of the patterns blank. " +
"An attendee matches if their RL name or nickname or email address matches the pattern and the relevant pattern is not blank. " +
"All attendee information is converted to lower case before matching, so you should keep your patterns lower case.")##
#set($strexplanationAttendee = "The attendee never sees a match to a ban, and all bans are only visible to admins.")##
#set($strsubmitSave = "Save!")##
