## Strings used in the confirmation page
##
## the ## at the end of lines prevents blank lines in the output of this template
##
#set($strPageTitle = "Bulkmailer")##
#set($strformAnnouncement = "Announcement")##
#set($strformFrom = "From")##
#set($strformStatus = "Status")##
#set($strformRecipients = "Recipients")##
#set($strsubmitPerform = "Perform Bulk Mailing!")##
#set($strexplainDoNotKeepClicking = "Sending bulkmail may take a while! Do not click the send button more than once!")##
