## Strings used in the confirmation page
##
## the ## at the end of lines prevents blank lines in the output of this template
##
## parameter: $url
##
#set($strpageTitle = "Credit Card Status Check")##
#set($strformProcessSubmit = "Check current status and try to fix")##
#set($strshowAdditionalCols = "Show additional columns")##
#set($strresultHeader = "Pending&nbsp;CC&nbsp;Transactions")##
#set($strcolNumber = "Nr.")##
#set($strcolBadgeNo = "BadgeNo.")##
#set($strcolNick = "Nick")##
#set($strcolRealname = "Realname")##
#set($strcolTotal = "Total")##
#set($strcolAttendance = "Attendance")##
#set($strcolAmount = "Paid&nbsp;&euro;")##
#set($strcolAmountDue = "Due&nbsp;&euro;")##
#set($strcolDate = "Date")##
#set($strcolStatus = "Status")##
#set($strcolRefid = "Reference ID")##
#set($strcolComment = "Comment")##
#set($strnoPaymentsFound = "No matching payments were found in the database.")##
#set($strcondensedByAmount = "Condensed by amounts:")##
#set($strcondAmount = "Paid&nbsp;&euro;")##
#set($strcondAmountDue = "Dues&nbsp;&euro;")##
#set($strcondNumber = "Count")##
#set($strcondTotal = "Total Amount")##
