## Strings used in the confirmation page
##
## the ## at the end of lines prevents blank lines in the output of this template
##
## parameter: $url
##
#set($strpageTitle = "Export functions")##
#set($strexportCsvNewDesc = "Exports all participating members with a room as a CSV file for the hotel")##
#set($strexportBadgeNewDesc = "Exports all participating and cancelled members as a CSV file for badge printing")##
#set($strexportConbookSupersponsorsDesc = "Exports all participating supersponsors as textfile for the conbook")##
#set($strexportConbookSponsorsDesc = "Exports all participating sponsors as textfile for the conbook")##
#set($strstatusDescription = "Participating: status is one of 'approved', '(partially)paid', and 'checked in'")##
