## Strings used in the side bar menu
##
## you may want to use &nbsp; for spaces to avoid lines wrapping
##
## the ## at the end of lines prevents blank lines in the output of this template
##
#set($strNavPermissionAdmin = "Admin")##
#set($strNavPermissionViewAll = "View&nbsp;All")##
##
#set($strNavStartPage = "Start&nbsp;Page")##
#set($strNavAccounting = "Accounting")##
#set($strNavStatistics = "Statistics")##
#set($strNavListNew = "List&nbsp;New")##
#set($strNavListAll = "List&nbsp;All")##
#set($strNavListUrgentCCRefunds = "Urgent&nbsp;CC&nbsp;Refunds")##
#set($strNavListCCRefunds = "CC&nbsp;Refunds")##
#set($strNavListUrgentBankRefunds = "Urgent&nbsp;Bank&nbsp;Refunds")##
#set($strNavListBankRefunds = "Bank&nbsp;Refunds")##
#set($strNavListRoomRequests = "List&nbsp;Room&nbsp;Groups")##
#set($strNavListRooms = "List&nbsp;Rooms")##
#set($strNavAssignRooms = "Room&nbsp;Assignment")##
#set($strNavSearch = "Search")##
#set($strNavViewComments = "View&nbsp;Comments")##
#set($strNavExport = "Export")##
#set($strNavManageBans = "Manage&nbsp;Bans")##
#set($strNavEditAnnouncements = "Edit&nbsp;Announcements")##
#set($strNavMarkOverdue = "Mark&nbsp;Overdue")##
#set($strNavSendNotifications = "Send&nbsp;Notifications")##
#set($strNavEditOwnRegistration = "Edit&nbsp;my&nbsp;Registration")##
#set($strNavChangeOwnPassword = "Change&nbsp;my&nbsp;Password")##
#set($strNavViewOwnPayments = "View&nbsp;my&nbsp;Payments")##
#set($strNavHowToPay = "How&nbsp;to&nbsp;Pay")##
#set($strNavRefund = "Refund&nbsp;Or&nbsp;Donate")##
#set($strNavHowToBookARoom = "How&nbsp;to&nbsp;Book&nbsp;a&nbsp;Room")##
#set($strNavMyRoomGroup = "My&nbsp;Room&nbsp;Group")##
#set($strNavNewRegistration = "New&nbsp;Registration")##
#set($strNavLogOut = "Log&nbsp;Out")##
#set($strNavLogIn = "Log&nbsp;In")##
#set($strNavResetSession = "Reset&nbsp;Session")##
##