## Strings used in the confirmation page
##
## the ## at the end of lines prevents blank lines in the output of this template
##
#set($strPageTitle = "Re-Send Status Emails")##
#set($strpageHeader = "Automated Emails")##
#set($strlabelStatus = "Status")##
#set($strlabelSelected = "Selected")##
#set($strsubmitSend = "Send Emails!")##
#set($strexplanation = "If you click on 'Send Emails!' the registration system will send " +
"automated emails to all selected attendees. The type of email " +
"they receive depends on their Membership Status. <b>This may take a while! Only " +
"click this button once!</b>")##
