BODY
{
}

A:link
{
    font-family: Arial;
    font-weight: bold;
    font-size: 11pt;
    text-decoration: none;
    color: #006357;
}

A.navigation:link
{
    font-family: Arial;
    font-weight: bold;
    font-size: 10pt;
    text-decoration: none;
    color: #ffffff;
}

A.searchlist:link
{
        font-family: Arial;
        font-weight: bold;
        font-size: 10pt;
        text-decoration: none;
        color: #006357;
}


A:visited
{
    font-family: Arial;
    font-weight: bold;
    font-size: 11pt;
    text-decoration: none;
    color: #006357;
}

A.navigation:visited
{
    font-family: Arial;
    font-weight: bold;
    font-size: 10pt;
    text-decoration: none;
    color: #ffffff;
}

A.searchlist:visited
{
        font-family: Arial;
        font-weight: bold;
        font-size: 10pt;
        text-decoration: none;
        color: #006357;
}


A:hover
{
    font-family: Arial;
    font-weight: bold;
    font-size: 11pt;
    text-decoration: underline;
    color: #006357;
}

A.navigation:hover
{
    font-family: Arial;
    font-weight: bold;
    font-size: 10pt;
    text-decoration: underline;
    color: #ffffff;
}

A.searchlist:hover
{
        font-family: Arial;
        font-weight: bold;
        font-size: 10pt;
        text-decoration: underline;
        color: #006357;
}


A:active
{
    font-family: Arial;
    font-weight: bold;
    font-size: 11pt;
    text-decoration: none;
    color: #006357;
}

A.navigation:active
{
    font-family: Arial;
    font-weight: bold;
    font-size: 10pt;
    text-decoration: none;
    color: #ff0000;
}

A.searchlist:active
{
        font-family: Arial;
        font-weight: bold;
        font-size: 10pt;
        text-decoration: none;
        color: #006357;
}


table.contentbox
{
  position:absolute;
    left:0; top:0;
    width: 100%;
    height: 100%;
    border-width: 0px;
    border-style: none;
    border-color: #000000;
    border-spacing: 3px;
    padding: 3px;
    background-color: #FFFFFF;
    font-family: Arial;
    font-size: 12pt;
    color: #000000;
    vertical-align:top;
    border-collapse: collapse;
}

td.contentbox
{
    border-width: 0px;
    border-style: none;
    border-color: #000000;
    padding: 10px;
    background-color: #FFFFFF;
    font-family: Arial;
    font-size: 12pt;
    color: #000000;
    vertical-align:top;
    border-collapse: collapse;
}

hr.contentbox
{
    color: #000000;
    background-color: #000000;
    width: 100%;
    height:1px;
  text-align:left;
  border:0px;
}

div.contentbox
{
    border-width: 0px;
    border-style: none;
    border-color: #000000;
    border-spacing: 3px;
    padding: 3px;
    background-color: #ffffff;
    font-family: Arial;
    font-size: 11pt;
    color: #000000;
    vertical-align:top;
    border-collapse: collapse;
}

div.navigation
{
    border-width: 0px;
    border-style: none;
    border-color: #000000;
    border-spacing: 3px;
    padding: 3px;
    background-color: #006357;
    font-family: Arial;
    font-size: 8Pt;
    color: #ffffff;
    vertical-align:top;
    border-collapse: collapse;
}

hr.navigation
{
    color: #ffffff;
    background-color: #ffffff;
    width: 90%;
    align: center;
    height:1px;
  text-align:center;
  border:0px;
}

div.pageheader
{
    border-width: 0px;
    border-style: none;
    border-color: #ffffff;
    border-spacing: 3px;
    padding: 3px;
    background-color: #ffffff;
    font-family: Arial;
    font-size: 32pt;
    font-weight: bold;
    color: #000000;
    vertical-align:top;
    border-collapse: collapse;
}


div.headline
{
    border-width: 0px;
    border-style: none;
    border-color: #ffffff;
    border-spacing: 3px;
    padding: 3px;
    background-color: #ffffff;
    font-family: Arial;
    font-size: 12pt;
    font-weight: bold;
    color: #000000;
    vertical-align:top;
    border-collapse: collapse;
}

div.content_list
{
        border-width: 0px;
        border-style: none;
        border-color: #ffffff;
        border-spacing: 3px;
        padding: 3px;
        background-color: #ffffff;
        font-family: Arial;
        font-size: 11pt;
        font-weight: bold;
        color: #000000;
        vertical-align:top;
        border-collapse: collapse;
}

td.label
{
        border-width: 0px;
        border-style: none;
        border-color: #000000;
    border-spacing:0px;
    margin: 0px;
        padding: 3px;
        background-color: #FFFFFF;
        font-family: Arial;
        font-size: 10pt;
    font-weight: bold;
        color: #000000;
        vertical-align:top;
        border-collapse: collapse;
}

td.input
{
        border-width: 0px;
        border-style: none;
        border-color: #000000;
        margin: 0px;
        padding: 3px;
        background-color: #FFFFFF;
        font-family: Arial;
        font-size: 10pt;
        color: #000000;
        vertical-align:top;
        border-collapse: collapse;
}

th.error
{
        border-width: 1px;
        border-style: solid;
        border-color: #000000;
        margin: 0px;
        padding: 10px;
        background-color: #ff0000;
        font-family: Arial;
        font-size: 12pt;
        font-weight: bold;
        text-align: center;
        color: #000000;
        vertical-align:top;
        border-collapse: collapse;
}

td.error
{
        border-width: 1px;
        border-style: solid;
        border-color: #ffffff;
        margin: 0px;
        padding: 10px;
        background-color: #ff0000;
        font-family: Arial;
        font-size: 10pt;
        color: #ffffff;
        vertical-align:top;
        border-collapse: collapse;
}


table.error
{
        border-width: 5px;
        border-style: solid;
        border-color: #000000;
        margin: 10px 0px 10px 0px;
        padding: 3px;
        background-color: #ffff66;
        font-family: Arial;
        font-size: 10pt;
        color: #000000;
        vertical-align:top;
        border-collapse: collapse;
}

th.debuginfo
{
        border-width: 1px;
        border-style: solid;
        border-color: #000000;
        margin: 0px;
        padding: 10px;
        background-color: #ffff66;
        font-family: Arial;
        font-size: 12pt;
        font-weight: bold;
        text-align: center;
        color: #000000;
        vertical-align:top;
        border-collapse: collapse;
}

td.debuginfo
{
        border-width: 1px;
        border-style: solid;
        border-color: #eecc00;
        margin: 0px;
        padding: 10px;
        background-color: #ffff66;
        font-family: Arial;
        font-size: 10pt;
        color: #000000;
        vertical-align:top;
        border-collapse: collapse;
}


table.debuginfo
{
        border-width: 2px;
        border-style: solid;
        border-color: #000000;
        margin: 10px 0px 10px 0px;
        padding: 3px;
        background-color: #ff0000;
        font-family: Arial;
        font-size: 10pt;
        color: #000000;
        vertical-align:top;
        border-collapse: collapse;
}



input
{
    width: 300px;
    margin: 0px 0px 0px 4px;
        font-family: Arial;
        font-size: 10pt;
        border-width: 1px;
        border-style: solid;
        border-color: #006357;
    padding-left: 3px;
    background-color: #ffffff;
}

input.tiny
{
        width: 32px;
        margin: 0px 0px 0px 4px;
        font-family: Arial;
        font-size: 10pt;
        border-width: 1px;
        border-style: solid;
        border-color: #006357;
        padding-left: 3px;
        background-color: #ffffff;
}

input.small
{
        width: 98px;
        margin: 0px 0px 0px 4px;
        font-family: Arial;
        font-size: 10pt;
        border-width: 1px;
        border-style: solid;
        border-color: #006357;
        padding-left: 3px;
        background-color: #ffffff;
}

input.big
{
        width: 198px;
        margin: 0px 0px 0px 4px;
        font-family: Arial;
        font-size: 10pt;
        border-width: 1px;
        border-style: solid;
        border-color: #006357;
        padding-left: 3px;
        background-color: #ffffff;
}

input.bday_day
{
        width: 24px;
        margin: 0px 0px 0px 0px;
        font-family: Arial;
        font-size: 10pt;
        border-width: 1px;
        border-style: solid;
        border-color: #006357;
        padding-left: 3px;
        background-color: #ffffff;
}
input.bday_year
{
        width: 38px;
        margin: 0px 0px 0px 2px;
        font-family: Arial;
        font-size: 10pt;
        border-width: 1px;
        border-style: solid;
        border-color: #006357;
        padding-left: 3px;
        background-color: #ffffff;
}


input.submit
{
    width: auto;
        margin: 0px 0px 0px 4px;
        font-family: Arial;
        font-size: 10pt;
        border-width: 3px;
        border-style: outset;
        border-color: #e0e0e0;
    background-color: #e0e0e0;
}

input.submit_small
{
        width: 98px;
        margin: 0px 0px 0px 4px;
        font-family: Arial;
        font-size: 10pt;
        border-width: 3px;
        border-style: outset;
        border-color: #e0e0e0;
        background-color: #e0e0e0;
}



select
{
    width:300px;
    margin: 0px 0px 0px 4px;
        font-family: Arial;
        font-size: 10pt;
        border-width: 1px;
        border-style: solid;
        border-color: #006357;
        background-color: #ffffff;
}

select.small
{
        width:98px;
        margin: 0px 0px 0px 4px;
        font-family: Arial;
        font-size: 10pt;
        border-width: 1px;
        border-style: solid;
        border-color: #006357;
        background-color: #ffffff;
}

select.big
{
        width: 198px;
        margin: 0px 0px 0px 4px;
        font-family: Arial;
        font-size: 10pt;
        border-width: 1px;
        border-style: solid;
        border-color: #006357;
        padding-left: 3px;
        background-color: #ffffff;
}


select.bday_month
{
        width:auto;
        margin: 0px 0px 0px 2px;
        font-family: Arial;
        font-size: 10pt;
        border-width: 1px;
        border-style: solid;
        border-color: #006357;
        background-color: #ffffff;
}


input.radio
{
    width: auto;
        margin: 0px;
        font-family: Arial;
        font-size: 10pt;
        border-width: 1px;
        border-style: none;
        border-color: #006357;
}




input.check
{
    width: auto;
        margin: 0px;
        font-family: Arial;
        font-size: 10pt;
        border-width: 1px;
        border-style: none;
        border-color: #006357;
}

textarea
{
    width=300px;
    height=200px;
    margin: 0px 0px 0px 4px;
        font-family: Arial;
        font-size: 10pt;
        border-width: 1px;
        border-style: solid;
        border-color: #006357;
        background-color: #ffffff;
}

textarea.mail
{
    height: 400px;
    margin: 0px 0px 0px 4px;
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    font-size: 10pt;
    border-width: 1px;
    border-style: solid;
    border-color: #006357;
    background-color: #ffffff;
}

td.tbl_label
{
        border-width: 0px;
        border-style: none;
        border-color: #000000;
        border-spacing:0px;
        margin: 0px;
        padding: 1px;
        background-color: #FFFFFF;
        font-family: Arial;
        font-size: 10pt;
        font-weight: bold;
        color: #000000;
        vertical-align:top;
        border-collapse: collapse;
}

td.tbl_value
{
        border-width: 0px;
        border-style: none;
        border-color: #000000;
        border-spacing:0px;
        margin: 0px;
        padding: 1px;
        background-color: #FFFFFF;
        font-family: Arial;
        font-size: 10pt;
        font-weight: bold;
        color: #006357;
        vertical-align:top;
        border-collapse: collapse;
}

table.prices
{
        border-width: 0px;
        border-style: none;
        border-color: #006357;
        border-spacing: 3px;
        padding: 3px;
        background-color: #ffffff;
        font-family: Arial;
        font-size: 10pt;
        color: #000000;
        vertical-align:top;
    align:center;
        border-collapse: collapse;
}

th.prices
{
        border-width: 2px;
        border-style: solid;
        border-color: #006357;
        border-spacing: 3px;
        padding: 8px;
        background-color: #006357;
        font-family: Arial;
        font-size: 10pt;
    font-weight: bold;
        color: #ffffff;
        vertical-align:top;
        text-align:center;
        border-collapse: collapse;
}

td.prices
{
        border-width: 2px;
        border-style: solid;
        border-color: #006357;
        border-spacing: 3px;
        padding: 8px;
        background-color: #ffffff;
        font-family: Arial;
        font-size: 10pt;
        font-weight: bold;
        color: #000000;
        vertical-align:top;
        text-align:right;
        border-collapse: collapse;
}

td.prices_help
{
        border-width: 2px;
        border-style: none;
        border-color: #ffffff;
        border-spacing: 3px;
        padding: 8px;
        background-color: #ffffff;
        font-family: Arial;
        font-size: 10pt;
        font-weight: bold;
        color: #000000;
        vertical-align:middle;
        text-align:left;
        border-collapse: collapse;
}

input.prices
{
        width: auto;
        margin: 0px;
        font-family: Arial;
        font-size: 10pt;
        border-width: 1px;
        border-style: none;
        background-color: #006357;
}



table.searchlist
{
        border-width: 1px;
        border-style: solid;
        border-color: #006357;
        border-spacing: 3px;
        padding: 3px;
        background-color: #ffffff;
        font-family: Arial;
        font-size: 10pt;
        color: #000000;
        vertical-align:top;
        align:center;
        border-collapse: collapse;
}

th.searchlist
{
        border-width: 0px 1px 0px 0px;
        border-style: dotted;
        border-color: #FFFFFF;
        border-spacing: 3px;
        padding: 8px;
        background-color: #006357;
        font-family: Arial;
        font-size: 10pt;
        font-weight: bold;
        color: #ffffff;
        vertical-align:top;
        text-align:center;
        border-collapse: collapse;
}

td.searchlist
{
        border-width: 0px 1px 0px 1px;;
        border-style: solid;
        border-color: #006357;
        border-spacing: 0px;
        padding: 1px 8px 0px 8px;
        background-color: #ffffff;
        font-family: Arial;
        font-size: 10pt;
        font-weight: bold;
        color: #000000;
        vertical-align:top;
        border-collapse: collapse;
}

td.searchlist_pending
{
        border-width: 0px 1px 0px 1px;;
        border-style: solid;
        border-color: #006357;
        border-spacing: 0px;
        padding: 1px 8px 0px 8px;
        background-color: #ffffff;
        font-family: Arial;
        font-size: 10pt;
        font-weight: bold;
        color: #808080;
        vertical-align:top;
        border-collapse: collapse;
}

td.searchlist_prepending
{
        border-width: 0px 1px 0px 1px;;
        border-style: solid;
        border-color: #006357;
        border-spacing: 0px;
        padding: 1px 8px 0px 8px;
        background-color: #ffffff;
        font-family: Arial;
        font-size: 10pt;
        font-weight: bold;
        color: #C0C0C0;
        vertical-align:top;
        border-collapse: collapse;
}

td.nobr {
        white-space: nowrap;
}

td.searchlist_sep
{
        border-width: 1px 1px 0px 1px;;
        border-style: solid;
        border-color: #006357;
        border-spacing: 0px;
        padding: 0px 8px 0px 8px;
        background-color: #ffffff;
        font-family: Arial;
        font-size: 10pt;
        font-weight: bold;
        color: #000000;
        vertical-align:top;
        border-collapse: collapse;
}

tr.searchlist_sep
{
        border-width: 1px 1px 0px 1px;;
        border-style: solid;
        border-color: #006357;
        border-spacing: 0px;
        padding: 0px 8px 0px 8px;
        background-color: #ffffff;
        font-family: Arial;
        font-size: 10pt;
        font-weight: bold;
        color: #000000;
        vertical-align:top;
        border-collapse: collapse;
}


div.searchlist_text
{
        font-family: Arial;
        font-size: 10pt;
        font-weight: normal;
        color: #000000;
        vertical-align:top;
        text-align:left;
        border-collapse: collapse;

}

span.mand
{
        font-family: Arial;
        font-size: 10pt;
    font-weight: bold;
        color: #ff2020;
}

a.help:link
{
        margin: 0px 0px 0px 0px;
        font-family: Arial;
        font-size: 10pt;
        border-style: solid;
        border-width: 1px;
        border-color: #006357;
        background-color: #006357;
        color: #ffffff;
        text-align: center;
        font-weight: bold;
        padding: 1px 4px 1px 5px;
        text-decoration: none;
}

a.help:visited
{
        margin: 0px 0px 0px 0px;
        font-family: Arial;
        font-size: 10pt;
        border-style: solid;
        border-width: 1px;
        border-color: #006357;
        background-color: #006357;
        color: #ffffff;
        text-align: center;
        font-weight: bold;
        padding: 1px 4px 1px 5px;
        text-decoration: none;
}

a.help:hover
{
        margin: 0px 0px 0px 0px;
        font-family: Arial;
        font-size: 10pt;
        border-style: solid;
        border-width: 1px;
        border-color: #ff0000;
        background-color: #FF0000;
        color: #ffffff;
        text-align: center;
        font-weight: bold;
    text-decoration: none;
        padding: 1px 4px 1px 5px;
}

a.help:active
{
        margin: 0px 0px 0px 0px;
        font-family: Arial;
        font-size: 10pt;
        border-style: solid;
        border-width: 1px;
        border-color: #ff0000;
        background-color: #FF0000;
        color: #ffffff;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
        padding: 1px 4px 1px 5px;
}

div.helptext
{
        border-width: 0px;
        border-style: none;
        border-color: #000000;
        background-color: #ffffFF;
        font-family: Arial;
        font-size: 9pt;
        color: #000000;
}

div.alert_green {
    border-width: 3px;
    border-style: solid;
    padding: 5px;
    border-color: #008000;
    background-color: #E0FFE0;
    color: black;
    text-align: center;
}

span.regstep_active {
    color: red;
    font-weight: bold;
}
span.regstep_editlink {
    color: black;
    font-weight: bold;
}
span.regstep_enabled {
    color: black;
}
span.regstep_disabled {
    color: #808080;
    font-style: italic;
}
