## Strings used in the confirmation page
##
## the ## at the end of lines prevents blank lines in the output of this template
##
## parameter: $urlNew
##
#set($strstoreSuccessMsg = "Deine &Auml;nderungen wurden erfolgreich &uuml;bernommen.")##
#set($strlistIntroMsg = "Aktuell sind folgende Vorlagen in der Datenbank. Bitte &auml;ndere keine Vorlagen anderer Abteilungen.")##
#set($strlistColCid = "Vorlagenbezeichnung")##
#set($strlistColLang = "Sprache")##
#set($strlistColSubject = "Subject")##
#set($strlistColActions = "Optionen")##
#set($strsureToDeleteMsg = "Bist Du Dir sicher, dass Du dieses <b>Mailtemplate l&ouml;schen</b> m&ouml;chtest?")##
#set($strdeleteYes = "JA!")##
#set($strdeleteNo = "NEIN!")##
#set($stractionEdit = "bearbeiten")##
#set($stractionCopy = "kopieren")##
#set($stractionDelete = "delete")##
#set($stractionNew = "Eine neue Vorlage kann <a href='$urlNew'>hier erstellt werden.</a>.")##
#set($strcolName = "Name:")##
#set($strcolSubject = "Betreff:")##
#set($strplaceholdersMsg = "Platzhalter:")##
#set($strsendTestEmail = "Test E-Mail senden!")##
#set($strsubmitSave = "Speichern!")##
