## Strings used in the confirmation page
##
## the ## at the end of lines prevents blank lines in the output of this template
##
## parameter: $url
##
#set($strstoreSuccessMsg = "Die &Auml;nderungen wurden erfolgreich &uuml;bernommen!")##
#set($strcolRlPattern = "RL&nbsp;Name&nbsp;Muster")##
#set($strcolNickPattern = "Nickname&nbsp;Muster")##
#set($strcolEmailPattern = "E-mail&nbsp;Muster")##
#set($strcolBanReason = "Grund")##
#set($strsureToDeleteMsg = "Bist Du Dir sicher, dass Du diesen <b>Ban l&ouml;schen</b> m&ouml;chtest?")##
#set($strdeleteYes = "JA!")##
#set($strdeleteNo = "NEIN!")##
#set($strlistHeading = "Liste der Bans in der Datenbank.")##
#set($strlistHeadID = "ID")##
#set($strlistHeadName = "Vorname Nachname")##
#set($strlistHeadNick = "ODER Nickname")##
#set($strlistHeadEmail = "ODER E-Mail")##
#set($strlistHeadBanReason = "Grund")##
#set($strlistHeadAction = "Befehl")##
#set($stractionEdit = "Bearbeiten")##
#set($stractionCopy = "Kopieren")##
#set($stractionDelete = "L&ouml;schen")##
#set($stractionNew = "Klicke hier <a href='$urlNew'>um einen Ban hinzuzuf&uuml;gen</a>.")##
#set($strexplanationAccepting = "Wenn es sich um einen Treffer handelt, der jedoch irrt&uuml;mlich ist, muss zuerst eine Checkbox gesetzt werden, um die Registrierung des Gastes zu akzeptieren. " +
"Wenn es sich um einen Gast handelt, der wirklich gebannt ist, sollte die Registrierung abgelehnt werden.")##
#set($strexplanationPatterns = "Es k&ouml;nnen regul&auml;re Ausdr&uuml;cke nach ISO verwendet oder das Feld leer gelassen werden. F&uuml;r die Suche bitte nur Kleinbuchstaben verwenden " +
"(alle Daten der G&auml;ste werden zum Verglich intern in Kleinbuchstaben konvertiert). Ein Treffer wird erzielt, wenn der RL-Name, Nickname oder die E-Mail Adresse zutrifft " +
"und das relevante Feld nicht leer ist.")##
#set($strexplanationAttendee = "Alle Bans sind nur f&uuml;r Administratoren einsehbar. Die G&auml;ste werden von dem Status nichts erfahren.")##
#set($strsubmitSave = "&Uuml;bernehmen!")##
