## Strings used in the registration form
##
## you may also wish to customize the other input*Message.vm templates that contain
## larger blocks of text.
##
## the ## at the end of lines prevents blank lines in the output of this template
##
#set( $strThankYouForRegistering = "Danke f&uuml;r Deine Anmeldung!")##
#set( $strRegistrationForm = "Registrierungsformular")##
#set( $strAdminDueAmountWarning = "Deine &Auml;nderungen wurden erfolgreich &uuml;bernommen. Wenn sich durch die get&auml;tigten &Auml;nderungen ein neuer Rechnungsbetrag ergeben hat, so muss die &Auml;nderung erst durch einen Mitarbeiter gesichtet Werden. Du erh&auml;lst eine Mail, wenn die Sichtung erfolgte. Das kann, wenn es viel zu tun gibt, einige Tage dauern. F&uuml;r gew&ouml;hnlich jedoch nur wenige Stunden.")##
#set( $strSuccessfullySaved = "Deine &Auml;nderungen wurden erfolgreich &uuml;bernommen.")##
#set( $strStatusWaitingForEmailConfirmation = "Warte auf Best&auml;tifgung der E-Mail.")##
#set( $strStatusPleaseClickEmailLink = "<i><b>Bitte folge dem Link, welcher in der Best&auml;tigungsmail ebnthalten ist.</b> Wenn Du keine E-Mail erhalten hast, dann kontaktiere uns bitte.</i>")##
#set( $strRegistrationStatus = "Status der Registrierung")##
#set( $strStatusOverdue = "&Uuml;berf&auml;llig")##
#set( $strStatusTotalLine = "Neuer Preis f&uuml;r die gew&auml;hlten Optionen: <b>$form.getFullPrice() &euro;</b>")##
#set( $strStatusRemainingDuesLine = "Ausstehender Betrag: <b>$form.getRemainingDues() &euro;</b>")##
#set( $strStatusDueUntil = "F&auml;llig bis $form.getDueDate()")##
#set( $strStatusPaymentsPending = "Zahlung ausstehend")##
#set( $strViewPayments = "Zahlungen auflisten")##
#set( $strNameAndAddressHeading = "Name & Adresse")##
#set( $strSellingRegistrationInfo = "<b>Wichtig:</b> Wenn Du Deine Registrierung &uuml;bertragen (verkaufen) magst, musst Du uns das mitteilen. Bitte &auml;ndere nicht selbst&auml;ndig die Registrierungsdaten!<br>")##
#set( $strNickname = "Nickname")##
#set( $strFirstName = "Vorname")##
#set( $strLastName = "Nachname")##
#set( $strStreet = "Stra&szlig;e")##
#set( $strZIPAndCity = "PLZ + Stadt")##
#set( $strCountry = "Land")##
#set( $strState = "Staat oder Bundesland")##
#set( $strEmail = "E-Mail")##
#set( $strEmailRepeat = "E-mail&nbsp;(nochmal)")##
#set( $strConfirmDoNothing = "Keine &Auml;nderung get&auml;tigt")##
#set( $strConfirmDirectly = "Best&auml;tigung dieser Adresse")##
#set( $strConfirmSendNewEmail = "Sende neue Best&auml;tigungsmail an den Gast")##
#set( $strPhone = "Telefon")##
#set( $strSpokenLanguages = "Sprachen")##
#set( $strRegistrationLanguage = "Reg-Sprache")##
#set( $strPersonalInformationHeading = "Pers&ouml;nliche Daten")##
#set( $strDateOfBirth = "Geburtstag")##
#set( $strMonthSelector = "W&auml;hle den Monat")##
#set( $strMonthJanuary = "Januar")##
#set( $strMonthFebruary = "Februar")##
#set( $strMonthMarch = "M&auml;rz")##
#set( $strMonthApril = "April")##
#set( $strMonthMay = "Mai")##
#set( $strMonthJune = "Juni")##
#set( $strMonthJuly = "Juli")##
#set( $strMonthAugust = "August")##
#set( $strMonthSeptember = "September")##
#set( $strMonthOctober = "Oktober")##
#set( $strMonthNovember = "November")##
#set( $strMonthDecember = "Dezember")##
#set( $strGender = "Geschlecht")##
#set( $strGenderMale = "M&auml;nnlich")##
#set( $strGenderFemale = "Weiblich")##
#set( $strGenderOther = "Sonstige")##
#set( $strGenderNotprovided = "Mag ich nicht sagen")##
#set( $strPronouns = "Pronomina")##
#set( $strPersonalFlags = "Optionen")##
#set( $strAccomodationHeading = "Unterbringung")##
#set( $strAccomodationMessage = "Das Buchen der Zimmer erfolgt zu einem sp&auml;teren Zeitpunkt.")##
#set( $strMembershipPackages = "Gebuchtes Paket")##
#set( $strManualDues = "Manuelle Korrektur")##
#set( $strManualDuesDescription = "Beschreibung der manuellen Korrektur")##
#set( $strOptionalInformationHeader = "Zus&auml;tzliche Informationen")##
#set( $strTShirtSize = "Gr&ouml;&szlig;e des T-Shirt")##
#set( $strOptions = "Optionen")##
#set( $strComments = "Kommentare")##
#set( $strCompleteRegistrationHeading = "Registrierung vollst&auml;ndig")##
#set( $strAgreeTOSMessage = "Ja, ich stimme der <a href=""$rulesURL"" target=""_blank"">Hausordnung der MMC </a> vollst&auml;ndig zu. Ich akzeptiere, dass die MMC meine Registrierung ohne Angabe von Gr&uuml;nden ablehnen darf.")##
#set( $strMustAgreeTOSPopup = "Du musst der Hausordnung der MMC zustimmen, um die Anmeldung zu vervollst&auml;ndigen.")##
#set( $strSubmitCompleteRegistrationRequest = "Registrierung absenden")##
#set( $strSubmitSave = "&Auml;nderungen speichern")##
#set( $strPartner = "Lebenspartner(in)")##
#set( $confShowPartner = 1)##
#set( $confShowGender = 0)##
#set( $confShowPronouns = 1)##
##
#set( $strRoomSharing = "Zimmerpartner")##
#set( $strRoomSharingInitialMsg = "Wenn du einen Zimmertyp mit mehreren Betten w&auml;hlst, kannst du sp&auml;ter an dieser Stelle die Anmeldenummer deiner Zimmerpartner eintragen, sobald deine Anmeldung akzeptiert wurde.")##
#set( $strRoommateConfirmed = "BEST&Auml;TIGT")##
#set( $strRoommateNotConfirmed = "NICHT BEST&Auml;TIGT:")##
#set( $strRoommateCannotChange = "<b>Bitte beachte</b>, dass die Zimmerzuordnung jetzt nicht mehr ge&auml;ndert werden kann.")##
#set( $strAdminHeader = "Felder f&uuml;r Admins")##
#set( $strAdminDelete = "Diese Anmeldung l&ouml;schen")##
#set( $strAdminConfirmPrompt = "Diese Anmeldung wirklich l&ouml;schen?")##
#set( $strAdminType = "Typ")##
#set( $strAdminTypeStandard = "Standard")##
#set( $strAdminTypeGuest = "Gast - komplett kostenlos")##
#set( $strAdminTypeDay = "Tagesgast - nur Tagesgastpakete werden in Rechnung gestellt")##
#set( $strAdminDisableBanCheck = "Check auf Bans abschalten")##
#set( $strAdminStatus = "Status")##
#set( $strAdminRoomQuota = "Quota f&uuml;r diesen Zimmertyp")##
#set( $strAdminCancelReason = "Grund&nbsp;f&uuml;r&nbsp;Absage")##
#set( $strAdminRoomAssignment = "Zimmerzuordnung")##
#set( $strAdminTotalDues = "Gesamtbetrag")##
#set( $strAdminRemainingDues = "Restbetrag")##
#set( $strAdminDueDate = "F&auml;lligkeit")##
#set( $strAdminOverrideDueDateExplanation = "Datum editieren, um zu verl&auml;ngern")##
#set( $strAdminClickForPayments = "(Hier klicken, um Zahlungen anzuzeigen oder zu bearbeiten)")##
#set( $strAdminAdminComments = "Admin-Kommentare")##
#set( $strAdminFlags = "Admin Flags")##
#set( $strAdminPermissions = "Berechtigungen")##
#set( $strAdminPermissionsExplain = "M&ouml;gliche Werte: regdesk,sponsordesk (bitte mit Komma trennen)")##
#set( $strAdminKeyDeposit = "Schl&uuml;sselpfand")##
#set( $strAdminRegById = "Eingecheckt durch")##
#set( $strRefundCcName = "Kreditkarteninhaber")##
#set( $strRefundBankName = "Kontoinhaber")##
#set( $strRefundIBAN = "IBAN")##
#set( $strRefundBIC = "BIC")##
