## Strings used in the side bar menu
##
## you may want to use &nbsp; for spaces to avoid lines wrapping
##
## the ## at the end of lines prevents blank lines in the output of this template
##
#set($strNavPermissionAdmin = "Admin")##
#set($strNavPermissionViewAll = "Alle&nbsp;anzeigen")##
##
#set($strNavStartPage = "Startseite")##
#set($strNavAccounting = "Buchhaltung")##
#set($strNavCreditCardStatusCheck = "CC&nbsp;Status&nbsp;Check")##
#set($strNavBankImport = "Kontoauszug&nbsp;Import")##
#set($strNavStatistics = "Statistik")##
#set($strNavListNew = "Liste&nbsp;Neuzug&auml;nge")##
#set($strNavListAll = "List&nbsp;alle")##
#set($strNavSearch = "Suche")##
#set($strNavViewComments = "Kommentare&nbsp;anzeigen")##
#set($strNavExport = "Exportieren")##
#set($strNavManageBans = "Sperrungen&nbsp;verwalten")##
#set($strNavEditAnnouncements = "Bearbeite&nbsp;Ank&uuml;ndigungen")##
#set($strNavManageGroups = "Zimmergruppen")##
#set($strNavManageRooms = "Zimmer")##
#set($strNavMarkOverdue = "Markiere&nbsp;offene&nbsp;Zahlungen")##
#set($strNavSendNotifications = "Sende&nbsp;Benachrichtigungen")##
#set($strNavEditOwnRegistration = "Bearbeite&nbsp;meine&nbsp;Registrierung")##
#set($strNavViewOwnPayments = "Meine&nbsp;Zahlungen")##
#set($strNavNewRegistration = "Neu&nbsp;registrieren")##
#set($strNavLogOut = "Abmelden")##
#set($strNavLogIn = "Anmelden")##
#set($strNavResetSession = "Sitzung&nbsp;zur&uuml;cksetzen")##
##