## Strings used in the landing page
##
## you may also wish to customize the other startXX.vm templates that contain
## large blocks of text.
##
## the ## at the end of lines prevents blank lines in the output of this template
##
#set($strEnterPayments = "Zahlungen erfassen")##
#set($strListTransactions = "Transaktionsliste")##
#set($strAmountExplain = "Positiver Betrag ist eingegangene Zahlung. Hier keine Sollstellungen erfassen, daf&uuml;r das manuelle Sollstellung-Feld am Teilnehmer verwenden.")##
#set($strOverview = "Informationen")##
#set($strHistory = "Transactionshistorie")##
#set($strHeaderDate = "Datum")##
#set($strHeaderDues = "Sollbetrag")##
#set($strHeaderPaid = "Zahlbetrag")##
#set($strHeaderStatus = "Status")##
#set($strHeaderMethod = "Methode")##
#set($strHeaderComment = "Kommentar")##
#set($strHeaderLink = "Link")##
#set($strHeaderId = "ReferenceId")##
#set($strNeedJs = "<b>Note: Javascript ist abgeschaltet.</b> Bitte anmachen, sonst funktioniert's nicht.")##
