## Strings used in the confirmation page
##
## the ## at the end of lines prevents blank lines in the output of this template
##
#set($strPageTitle = "Erneuter Statusmailversand")##
#set($strpageHeader = "Automatische E-Mail")##
#set($strlabelStatus = "Status:")##
#set($strlabelSelected = "Empf&auml;nger:")##
#set($strsubmitSend = "Automatische E-Mail senden!")##
#set($strexplanation = "Mit dem Klick auf 'Automatische E-Mail senden!' werden alle selektierten G&auml;ste eine Benachrichtigung erhalten. " +
"Der Inhalt der E-Mail h&auml;ngt von dem jeweiligen Details der Anmeldung ab. " +
"<b>Der Sendevorgang ben&ouml;tigt eine Weile. Bitte nicht mehrmals klicken!</b>")##
