## Strings used in the room management template wrapper
#set( $strRoomManagementTitle = "Zimmerverwaltung")##
#set( $strJavascriptDisabled = "Javascript ist deaktiviert!")##
#set( $strPleaseEnableJavascript = "Bitte einschalten, um diese Seite zu benutzen.")##
