##  put any version specific messages here
##
##  ------------ devel sandbox on server --------------
#if(false)##
<div id="debuginfo">
<TABLE BORDER="0" class="debuginfo">
   <TR>
    <TH class="debuginfo"><font color="red">Test system - Test database</font></TH>
   </TR>
   <TR>
    <TD class="debuginfo">
    <p>This is not the registration system you are looking for. Anything you enter here will do just one thing - disrupt our tests and annoy our developers.</p>

    <p>Unless specifically directed here, GO AWAY! This is a test database, you cannot make valid registrations here.</p>

    <p><b><font color="red">ATTENTION: at times, this system may be sending REAL EMAILS during our tests. If you test-register here, please ONLY use your own email
    addresses!</font></b></p>
    </TD>
   </TR>
</TABLE>
</div>
#end##
##
##  ------------ staff reg and credit card testing --------------
#if(false)##
<div id="debuginfo">
<TABLE BORDER="0" class="debuginfo">
   <TR>
    <TH class="debuginfo"><font color="red">Staff Pre-Reg System! STAFF ONLY!</font></TH>
   </TR>
   <TR>
    <TD class="debuginfo">
    <p>Staff registration only! Public registration not yet available.</p>

    <p>Hotel room booking for staff is available as soon as your registration has been accepted by Loewi.</p>

    <p>Credit card payments will become available when we move to the main registration system.</p>
    </TD>
   </TR>
</TABLE>
</div>
#end##
