<TABLE class="searchlist">
    <TR>
        <TH class="searchlist" ALIGN="right" >$strcolNumber</TH>
        <TH class="searchlist" ALIGN="right" >$strcolBadgeNo</TH>
        <TH class="searchlist" ALIGN="right" >$strcolAmount</TH>
        <TH class="searchlist" ALIGN="right" >$strcolAmountDue</TH>
        <TH class="searchlist" ALIGN="left" >$strcolDate</TH>
        <TH class="searchlist" ALIGN="left" >$strcolStatus</TH>
        <TH class="searchlist" ALIGN="left" >$strcolType</TH>
        <TH class="searchlist" ALIGN="left" >$strcolMethod</TH>
        <TH class="searchlist" ALIGN="left" >$strcolComment</TH>
    </TR>

#foreach($i in [0..10000])## if there are more than this many results, the page will load forever anyway
  #if($form.loadNext())## velocity has no while loop, seriously?

    <TR>
        <TD class="searchlist" ALIGN="right">$form.count</TD>
        <TD class="searchlist" ALIGN="right"><a href="input?param_id=$form.debitorId">$form.debitorId</a></TD>
        <TD class="searchlist" ALIGN="right">$form.amount</TD>
        <TD class="searchlist" ALIGN="right">$form.amountDue</TD>
        <TD class="searchlist" ALIGN="right">$form.received</TD>
        <TD class="searchlist" ALIGN="left"><a href="payment?param_id=$form.debitorId">$form.status</a></TD>
        <TD class="searchlist" ALIGN="left">$form.type</TD>
        <TD class="searchlist" ALIGN="left">$form.method</TD>
        <TD class="searchlist" ALIGN="left">$form.comment</TD>
    </TR>

  #end##
#end##

    <TR>
        <TH class="searchlist" ALIGN="right" ></TH>
        <TH class="searchlist" ALIGN="right" ></TH>
        <TH class="searchlist" ALIGN="right" >$form.getPayGrandTotal()</TH>
        <TH class="searchlist" ALIGN="right" >$form.getDueGrandTotal()</TH>
        <TH class="searchlist" ALIGN="left" ></TH>
        <TH class="searchlist" ALIGN="left" ></TH>
        <TH class="searchlist" ALIGN="left" ></TH>
        <TH class="searchlist" ALIGN="left" ></TH>
        <TH class="searchlist" ALIGN="left" ></TH>
    </TR>

</TABLE>

<div class="headline"><br>$strcondensedByAmount</div>
<hr class="contentbox"/>

<p><TABLE class="searchlist">
    <TR>
        <TH class="searchlist" ALIGN="right" >$strcondAmount</TH>
        <TH class="searchlist" ALIGN="right" >$strcondNumber</TH>
    </TR>

    #foreach($a in $form.getPayAmountsBreakdown())##
    <TR>
        <TD class="searchlist" ALIGN="right">$a.amount</TD>
        <TD class="searchlist" ALIGN="right">$a.count</TD>
    </TR>
    #end##

    <TR>
        <TH class="searchlist" ALIGN="right" >$strcondAmountDue</TH>
        <TH class="searchlist" ALIGN="right" >$strcondNumber</TH>
    </TR>

    #foreach($a in $form.getDueAmountsBreakdown())##
        <TR>
            <TD class="searchlist" ALIGN="right">$a.amount</TD>
            <TD class="searchlist" ALIGN="right">$a.count</TD>
        </TR>
    #end##
</TABLE></p>

