#parse( "strings/accounting.strings.vm" )
<td class="contentbox">
    <div class="pageheader">$strsearchHeader</div>
    <hr class="contentbox"/>
    #parse( "errorlisting.vm" )

    #parse( "accountingForm.vm" )

#if($page.showListing())##
    <div class="headline"><br/>$strresultHeader</div>
    <hr class="contentbox"/>
    <p/>

    #parse( "accountingList.vm" )

#end##

</td>
