#parse( "strings/bans.strings.vm" )
<td class="contentbox">
    <div class="pageheader">$function</div>
    <hr class="contentbox">
    #parse( "errorlisting.vm" )

#if($page.showDeleteConfirm())##
    <p>$strsureToDeleteMsg</p><br/>
    <TABLE>
        <TR>
            <TD class="label" ALIGN="right" VALIGN="middle"><B>$strcolRlPattern:</B></TD>
            <TD class="input" ALIGN="left" VALIGN="middle">$form.printNamePattern()</TD>
        </TR>
        <TR>
            <TD class="label" ALIGN="right" VALIGN="middle"><B>$strcolNickPattern:</B></TD>
            <TD class="input" ALIGN="left" VALIGN="middle">$form.printNicknamePattern()</TD>
        </TR>
        <TR>
            <TD class="label" ALIGN="right" VALIGN="middle"><B>$strcolEmailPatter:</B></TD>
            <TD class="input" ALIGN="left" VALIGN="middle">$form.printEmailPattern()</TD>
        </TR>
        <TR>
            <TD class="label" ALIGN="right" VALIGN="middle"><B>$strcolBanReason:</B></TD>
            <TD class="input" ALIGN="left" VALIGN="middle">$form.printReason()</TD>
        </TR>
    </TABLE>

    <p><a href="$form.deleteYesUrl()">$strdeleteYes</a> <a href="${url}">$strdeleteNo</a></p><br/>

#elseif($page.showList())##

    #if($page.wasStored())##
        <div class="alert_green">
            $strstoreSuccessMsg
        </div>
    #end

    <p>$strlistHeading</p><br/>

    <table class="searchlist">
        <tr>
            <th class="searchlist">$strlistHeadID</th>
            <th class="searchlist">$strlistHeadName =~ </th>
            <th class="searchlist">$strlistHeadNick =~ </th>
            <th class="searchlist">$strlistHeadEmail =~ </th>
            <th class="searchlist">$strlistHeadBanReason</th>
            <th class="searchlist">$strlistHeadAction</th>
        </tr>
        #foreach ( $rule in $page.getLoadedEscapedList() )##
        <tr class="searchlist_sep">
            <td class="searchlist">$rule.id</td>
            <td class="searchlist">$rule.namePattern</td>
            <td class="searchlist">$rule.nicknamePattern</td>
            <td class="searchlist">$rule.emailPattern</td>
            <td class="searchlist">$rule.reason</td>
            <td class="searchlist">##
<a href="$rule.editUrl">$stractionEdit</a>,&nbsp;##
<a href="$rule.copyUrl">$stractionCopy</a>,&nbsp;##
<a href="$rule.deleteUrl">$stractionDelete</a>##
</td>
        </tr>
        #end##
    </table>

    <p>$stractionNew</p><br/>

    <p>$strexplanationAccepting</p><br/>

#elseif($page.showEditForm())##

    $form.editFormHeader()
        <TABLE>
            <TR>
                <TD class="label" ALIGN="right" VALIGN="middle"><B>$strcolRlPattern:</B></TD>
                <TD class="input" ALIGN="left" VALIGN="middle">$form.namePatternField()</TD>
            </TR>
            <TR>
                <TD class="label" ALIGN="right" VALIGN="middle"><B>$strcolNickPattern:</B></TD>
                <TD class="input" ALIGN="left" VALIGN="middle">$form.nicknamePatternField()</TD>
            </TR>
            <TR>
                <TD class="label" ALIGN="right" VALIGN="middle"><B>$strcolEmailPattern:</B></TD>
                <TD class="input" ALIGN="left" VALIGN="middle">$form.emailPatternField()</TD>
            </TR>
            <TR>
                <TD class="label" ALIGN="right" VALIGN="middle"><B>$strcolBanReason:</B></TD>
                <TD class="input" ALIGN="left" VALIGN="middle">$form.reasonField()</TD>
            </TR>
            <TR>
                <TD class="label" ALIGN="right" VALIGN="middle">&nbsp;</TD>
                <TD class="input" ALIGN="left" VALIGN="middle">
                    $strexplanationPatterns
                </TD>
            </TR>
            <TR>
                <TD class="label" ALIGN="right" VALIGN="middle">&nbsp;</TD>
                <TD class="input" ALIGN="left" VALIGN="middle">
                    $strexplanationAccepting
                </TD>
            </TR>
            <TR>
                <TD class="label" ALIGN="right" VALIGN="middle">&nbsp;</TD>
                <TD class="input" ALIGN="left" VALIGN="middle">
                    $strexplanationAttendee
                </TD>
            </TR>
            <TR>
                <TD class="label" align="right">&nbsp;</TD>
                <TD class="input" ALIGN="left" VALIGN="middle"><INPUT TYPE="submit" VALUE="$strsubmitSave"/></TD>
            </TR>
        </TABLE>
    $form.editFormFooter()

#end##

</td>
