    <TABLE>
        <TR>
            <TD class="label" ALIGN="right" VALIGN="middle"><B>$strformAnnouncement %></B></TD>
            <TD class="input" ALIGN="left" VALIGN="middle">$form.fieldCidSelector()</TD>
        </TR>
        <TR>
            <TD class="label" align="right">$strformStatus:</TD>
            <TD class="input" ALIGN="left" VALIGN="middle"><b>$form.getStatusText()</b></TD>
        </TR>
        <TR>
            <TD class="label">$strformRecipients:</TD>
            <TD class="input" ALIGN="left" VALIGN="middle">$form.getListingBox()</TD>
        </TR>
#if ($showSubmit)##
        <TR>
            <TD class="label"></TD>
            <TD class="input" ALIGN="left" VALIGN="middle">$form.getSubmitButton($strsubmitPerform, "submit")</TD>
        </TR>
        <TR>
            <TD class="label"></TD>
            <TD class="input"><b>$strexplainDoNotKeepClicking</b><br/><br/></TD>
        </TR>
#end##
     </TABLE>
