#parse( "strings/bulkmail.strings.vm" )
<td class="contentbox">
  <div class="pageheader">$strPageTitle</div>
  <hr class="contentbox"/>
  #parse( "errorlisting.vm" )
  
  $form.getFormHeader()

  #parse( "bulkmailForm.vm" )

  $form.getFormFooter()
</td>
