#parse( "strings/camtv8import.strings.vm" )
<td class="contentbox">
#parse( "errorlisting.vm" )

#if( $mode == "before-upload" )##
    <div class="pageheader">$strTitleUpload</div>
    <noscript>
        $strNeedJs
    </noscript>
    <hr class="contentbox"/>
    <p>$strUploadExplanation</p>

    $uploadform.getFormHeader()

    $uploadform.getFileSelector()
    $uploadform.getFormSubmitButton($strSubmitUpload, "submit")

    $uploadform.getFormFooter()
#elseif( $mode == "upload" )##
    <div class="pageheader">$strTitleBook</div>
    <hr class="contentbox"/>
    <p>$strBookExplanation</p>

    $bookingform.getFormHeader()
    <TABLE class="info">
        <TR>
            <TH class="info" ALIGN="right" VALIGN="top" width="10%"><b>$strHeaderMatch</b></TH>
            <TH class="info" ALIGN="right" VALIGN="top" width="10%"><b>$strHeaderAmount</b></TH>
            <TH class="info" ALIGN="left" VALIGN="top" width="10%"><b>$strHeaderCurrency</b></TH>
            <TH class="info" ALIGN="center" VALIGN="top" width="10%"><b>$strHeaderValuationDate</b></TH>
            <TH class="info" ALIGN="left" VALIGN="top" width="10%"><b>$strHeaderName</b></TH>
            <TH class="info" ALIGN="left" VALIGN="top" width="40%"><b>$strHeaderInformation</b></TH>
        </TR>
        #foreach( $line in $entrylines )##
        #if( $line.get(7) == "yes" )##
            <TR>
                <TD class="info sep black nobreak middle center" rowspan="2" width="10%">$line.get(13)</TD>
                <TD class="info sep black nobreak middle right" rowspan="2" width="10%">$line.get(0)</TD>
                <TD class="info sep black nobreak middle left" rowspan="2" width="10%">$line.get(1)</TD>
                <TD class="info sep black nobreak middle center" rowspan="2" width="10%">$line.get(2)</TD>
                <TD class="info sep black nobreak top left" width="10%" title="$line.get(4)">$line.get(3)</TD>
                <TD class="info sep black nobreak top left" width="40%" title="$line.get(6)">$line.get(5)</TD>
            </TR>
            <TR>
                <TD class="info nosep black nobreak top left" title="$line.get(10)">$line.get(9)</TD>
                <TD class="info nosep black nobreak top left" title="$line.get(12)">$line.get(8) $line.get(12)</TD>
            </TR>
        #else##
            <TR>
                <TD class="info sep grey middle center" rowspan="2" width="10%">$line.get(13)</TD>
                <TD class="info sep grey nobreak middle right" rowspan="2" width="10%">$line.get(0)</TD>
                <TD class="info sep grey nobreak middle left" rowspan="2" width="10%">$line.get(1)</TD>
                <TD class="info sep grey nobreak middle center" rowspan="2" width="10%">$line.get(2)</TD>
                <TD class="info sep grey nobreak top left" width="10%" title="$line.get(4)">$line.get(3)</TD>
                <TD class="info sep grey nobreak top left" width="40%" title="$line.get(6)">$line.get(5)</TD>
            </TR>
            <TR>
                <TD class="info nosep grey nobreak top left">&nbsp;</TD>
                <TD class="info nosep grey nobreak top left">&nbsp;</TD>
            </TR>
        #end##
        #end##
    </TABLE>
    $bookingform.getFormSubmitButton($strSubmitBook, "submit")

    $bookingform.getFormFooter()
#else##
    (invalid mode parameter - this is a bug)
#end##
</td>
