#parse( "strings/camtv8import.strings.vm" )
<td class="contentbox">
#parse( "errorlisting.vm" )

#if( $mode == "before-upload" )##
    <div class="pageheader">$strTitleUpload</div>
    <noscript>
        $strNeedJs
    </noscript>
    <hr class="contentbox"/>
    <p>$strUploadExplanation</p>

    $uploadform.getFormHeader()

    $uploadform.getFileSelector()
    $uploadform.getFormSubmitButton($strSubmitUpload, "submit")

    $uploadform.getFormFooter()
#elseif( $mode == "upload" )##
    <div class="pageheader">$strTitleBook</div>
    <hr class="contentbox"/>
    <p>$strBookExplanation</p>

    $bookingform.getFormHeader()
    <TABLE class="searchlist">
        <TR>
            <TH class="searchlist" ALIGN="right" VALIGN="top"><b>$strHeaderAmount</b></TH>
            <TH class="searchlist" ALIGN="left" VALIGN="top"><b>$strHeaderCurrency</b></TH>
            <TH class="searchlist" ALIGN="center" VALIGN="top"><b>$strHeaderBookingDate</b></TH>
            <TH class="searchlist" ALIGN="center" VALIGN="top"><b>$strHeaderValuationDate</b></TH>
            <TH class="searchlist" ALIGN="left" VALIGN="top"><b>$strHeaderDebitorName</b></TH>
            <TH class="searchlist" ALIGN="left" VALIGN="top"><b>$strHeaderInformation</b></TH>
        </TR>
        #foreach( $line in $entrylines )##
        <TR>
            <TD class="searchlist" ALIGN="right" VALIGN="top">$line.get(0)</TD>
            <TD class="searchlist" ALIGN="left" VALIGN="top">$line.get(1)</TD>
            <TD class="searchlist" ALIGN="center" VALIGN="top">$line.get(2)</TD>
            <TD class="searchlist" ALIGN="center" VALIGN="top">$line.get(3)</TD>
            <TD class="searchlist" ALIGN="left" VALIGN="top">$line.get(4)</TD>
            <TD class="searchlist" ALIGN="left" VALIGN="top">$line.get(5)</TD>
        </TR>
        #end##
    </TABLE>
    $bookingform.getFormSubmitButton($strSubmitBook, "submit")

    $bookingform.getFormFooter()
#else##
    (invalid mode parameter - this is a bug)
#end##
</td>
