      <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0">
      <TR><TD class="input" width="$fieldBirthdayWidth">
          <div id="hide_birthday" style="display:inline;position:relative;top:-3">$form.fieldBirthday(10,"small")</div>
          <div id="date_js_hack" style="display:none;position:relative;top:-3">
          <input name="dummy" type="text" id="id_bday" maxlength="2" onchange="update_hack()" class="bday_day"><select name="dummy" id="id_monthlist" onchange="update_hack()" class="bday_month">
            <option value="00">[$strMonthSelector]</option>
            <option value="01">$strMonthJanuary</option>
            <option value="02">$strMonthFebruary</option>
            <option value="03">$strMonthMarch</option>
            <option value="04">$strMonthApril</option>
            <option value="05">$strMonthMay</option>
            <option value="06">$strMonthJune</option>
            <option value="07">$strMonthJuly</option>
            <option value="08">$strMonthAugust</option>
            <option value="09">$strMonthSeptember</option>
            <option value="10">$strMonthOctober</option>
            <option value="11">$strMonthNovember</option>
            <option value="12">$strMonthDecember</option>
          </select><input name="dummy" type="text" id="id_byear" maxlength="4" onchange="update_hack()" class="bday_year"><br/><br/>
          </div>
      </TD>
      </TR>
      </TABLE>
