#parse( "strings/input.strings.vm" )
<td class="contentbox">
#if ($showRegWaitMailInfo)##
   <div class="headline"><br/>$strThankYouForRegistering</div>
   <hr class="contentbox"/>
  #parse( "errorlisting.vm" )

  #parse( "inputSuccessMessage.vm")
#else##
  #parse( "local/localmessage.vm" )

  <div class="pageheader">$strRegistrationForm</div>
  <hr class="contentbox"/>

  #parse( "message.vm" )
  #parse( "messagePreparedForConvention.vm" )
  #parse( "errorlisting.vm" )
  
  #if ($page.hasGreenText())##
    <div class="alert_green">
    #foreach ($message in $page.GreenText)
        $message<br/>
    #end##
    </div>
  #end##

  #if ($didSaveChanges)##
    <div class="alert_green">
       #if ($page.mayEditAdmin())##
         $strAdminDueAmountWarning
       #else##
         $strSuccessfullySaved
       #end##
    </div>
  #end##

  #if($!showRegWaitMailInfo)##
     <span class="regstep_active">$strStatusWaitingForEmailConfirmation</span><br>
     <span class="regstep_enabled">$strStatusPleaseClickEmailLink</span>  
  #elseif($wasNew)##
     ## nothing, it makes no sense to show status yet
  #else##
     $strRegistrationStatus:
     <span class="regstep_active">$form.getStatus().toString()</span>
     #if($form.isOverdue()) - <b>$strStatusOverdue</b>#end
  #end##

  #if ($form.getStatus().isParticipating())##
    <br>${strStatusTotalLine}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    $strStatusRemainingDuesLine
    #if ($form.hasRemainingDues())##
      ($strStatusDueUntil)
    #end##
    #if ($form.getPaymentsPending())##
      ($strStatusPaymentsPending)
    #end##
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="payment#if($page.mayEditAdmin())?param_id=$form.Id#end">$strViewPayments</a>
  #end##

  $form.getFormHeader()

  #parse( "inputForm.vm" )

  $form.getFormFooter()
#end##
</td>
