  It may take a while until you
  receive your payment information. That's because all registrations are
  being <i>manually</i> approved by our staff.  Usually you will receive
  payment details within a few hours, but it may take up to one week.
  Eurofurence is being run by volunteers in their spare time, we apologize for
  the inconvenience.<br><br>
