## (only relevant if room management is set to ROOMS_AS_PACKAGES)
##
This is where you can specify the registration numbers of your
roommates. If you are fine with randomly assigned roommates, please leave the
"Room Mate" fields blank. If you want to share your room with someone in
particular, you must ALL enter each other's registration number in your
individual registration forms. It makes no difference whether you enter someone
as first, second, or third room mate.  If all of you have correctly entered
each other's numbers, and your room packages match, the corresponding red "NOT
CONFIRMED" should turn into a green "CONFIRMED". Your registration number gets
displayed after registration, and will be sent to you by email. You don't have
to fill this field in right now.  If you don't know your roommate's membership
number yet, you can always come back and enter (or change) it at a later time.<br/><br/>
