  <td class="contentbox">
    <div class="pageheader">Search Results</div>
    <hr class="contentbox">
    #parse( "errorlisting.vm" )

    #if ($page.showResultListing())
      <center>
      $form.getFormHeader()

      #parse( "listForm.vm" )

      $form.getFormFooter()
      </center>
    #end
  </td>
