#parse( "strings/navbar.strings.vm")
#set($pathBase = "..")##
#set($pathImages = "$pathBase/images")##
##
  <td bgcolor="$navbar.navbarBgcolor" width="$navbar.navbarWidth" valign="top">
    <div  class="navigation">
      <hr class="navigation"/>
      <center>
        <b>$navbar.ConventionLongname</b><br/>
        <font size="-2">$navbar.ConventionHumanReadableDate</font><br/>
      </center>
##
#if( $navbar.showMenu() )## GLOBAL
##
      <hr class="navigation"/>
      <img src="$pathImages/bullet.jpg"/>&nbsp;<a class="navigation" href="$navbar.StartPageURL">$strNavStartPage</a><br/>
#set( $hr = "no" )##
#if( $navbar.showAccounting() )##
      #set( $hr = "yes" )##
      <img src="$pathImages/bullet.jpg"/>&nbsp;<a class="navigation" HREF="$navbar.AccountingURL">$strNavAccounting</a><br/>
      <img src="$pathImages/bullet.jpg"/>&nbsp;<a class="navigation" HREF="$navbar.CreditCardStatusCheckURL">$strNavCreditCardStatusCheck</a><br/>
#end##
#if( $navbar.showBankImport() )##
    #set( $hr = "yes" )##
    <img src="$pathImages/bullet.jpg"/>&nbsp;<a class="navigation" HREF="$navbar.BankImportURL">$strNavBankImport</a><br/>
#end##
#if( $navbar.showStatistics() )##
      #set( $hr = "yes" )##
      <img src="$pathImages/bullet.jpg"/>&nbsp;<a class="navigation" HREF="$navbar.StatisticsURL">$strNavStatistics</a><br/>
#end##
#if( $navbar.showSearchAndLists() )##
      #set( $hr = "yes" )##
      <img src="$pathImages/bullet.jpg"/>&nbsp;<a class="navigation" HREF="$navbar.ListNewURL">$strNavListNew</a><br/>
      <img src="$pathImages/bullet.jpg"/>&nbsp;<a class="navigation" HREF="$navbar.ListAllURL">$strNavListAll</a><br/>
      <img src="$pathImages/bullet.jpg"/>&nbsp;<a class="navigation" HREF="$navbar.SearchURL">$strNavSearch</a><br/>
      <img src="$pathImages/bullet.jpg"/>&nbsp;<a class="navigation" HREF="$navbar.ViewCommentsURL">$strNavViewComments</a><br/>
#end##
#if( $navbar.showExport() )##
      #set( $hr = "yes" )##
      <img src="$pathImages/bullet.jpg"/>&nbsp;<a class="navigation" HREF="$navbar.ExportURL">$strNavExport</a><br/>
#end##
#if( $navbar.showManageBans() )##
      #set( $hr = "yes" )##
      <img src="$pathImages/bullet.jpg"/>&nbsp;<a class="navigation" HREF="$navbar.ManageBansURL">$strNavManageBans</a><br/>
#end##
#if( $hr == "yes" )##
      <hr class="navigation"/>
#end##
##
##
#if( $navbar.showAnnouncementsEditAndSend() )##
      <img src="$pathImages/bullet.jpg"/>&nbsp;<a class="navigation" HREF="$navbar.EditAnnouncementsURL">$strNavEditAnnouncements</a><br/>
#end##
#if( $navbar.showManageGroups() )##
        <img src="$pathImages/bullet.jpg"/>&nbsp;<a class="navigation" HREF="$navbar.ManageGroupsURL">$strNavManageGroups</a><br/>
#end##
#if( $navbar.showManageRooms() )##
        <img src="$pathImages/bullet.jpg"/>&nbsp;<a class="navigation" HREF="$navbar.ManageRoomsURL">$strNavManageRooms</a><br/>
#end##
##
##
#if( $navbar.showEditOwnRegistration() )##
      <img src="$pathImages/bullet.jpg"/>&nbsp;<a class="navigation" HREF="$navbar.EditOwnRegistrationURL">$strNavEditOwnRegistration</a><br/>
#end##
#if( $navbar.showViewOwnPayments() )##
      <img src="$pathImages/bullet.jpg"/>&nbsp;<a class="navigation" HREF="$navbar.ViewOwnPaymentsURL">$strNavViewOwnPayments</a><br/>
#end##
#if( $navbar.showNewRegistration() )##
      <img src="$pathImages/bullet.jpg"/>&nbsp;<a class="navigation" HREF="$navbar.NewRegistrationURL">$strNavNewRegistration</a><br/>
#end##
##
#if( $navbar.showLogout() )##
      <hr class="navigation"/>
      <img src="$pathImages/bullet.jpg"/>&nbsp;<a class="navigation" HREF="$navbar.LoginURL">$strNavLogOut</a><br/>
#elseif( $navbar.showLogin())##
      <hr class="navigation"/>
      <img src="$pathImages/bullet.jpg"/>&nbsp;<a class="navigation" HREF="$navbar.LoginURL">$strNavLogIn</a><br/>
#end##
##
#end## GLOBAL
##
      <hr class="navigation"/>
      <center>
        <a class="navigation" target="_blank" HREF="$navbar.privacyStatementURL">$navbar.privacyStatementText</a><br/>
        $navbar.privacyStatementHTML
      </center>
      <hr class="navigation"/>
      <center>
        <a class="navigation" target="_blank" HREF="$navbar.imprintURL">$navbar.imprintText</a><br/>
        $navbar.imprintHTML
      </center>
      <hr class="navigation"/>
      <br/>
      <img width="$navbar.navbarLogoWidth" height="$navbar.navbarLogoHeight" src="$pathImages/logo.jpg"/>
    </div>
  </td>
##
##
