#parse( "strings/navbar.strings.vm")
#set($pathBase = "..")##
#set($pathImages = "$pathBase/images")##
##
  <td bgcolor="$navbar.navbarBgcolor" width="$navbar.navbarWidth" valign="top">
    <div  class="navigation">
      <hr class="navigation"/>
      <center>
        <b>$navbar.ConventionLongname</b><br/>
        <font size="-2">$navbar.ConventionHumanReadableDate</font><br/>
      </center>
      <hr class="navigation"/>
      <img src="$pathImages/bullet.jpg"/>&nbsp;<a class="navigation" href="$navbar.StartPageURL">$strNavStartPage</a><br/>
##
      <hr class="navigation"/>
      <center>
        <a class="navigation" target="_blank" HREF="$navbar.privacyStatementURL">$navbar.privacyStatementText</a><br/>
        $navbar.privacyStatementHTML
      </center>
      <hr class="navigation"/>
      <center>
        <a class="navigation" target="_blank" HREF="$navbar.imprintURL">$navbar.imprintText</a><br/>
        $navbar.imprintHTML
      </center>
      <hr class="navigation"/>
      <br/>
      <img width="$navbar.navbarLogoWidth" height="$navbar.navbarLogoHeight" src="$pathImages/logo.jpg"/>
    </div>
  </td>
##
##
