#parse( "strings/notfound.strings.vm")
  <td class="contentbox">
   <div class="pageheader">$strTitle</div>
   <hr class="contentbox"/>

      <div class="contentbox">$strNotFound</div><br/>

  </td>
##