        <TABLE border="0">
         <TR>
          <TD class="label" ALIGN="right" VALIGN="middle"><B>Amount</B></TD>
          <TD class="input" ALIGN="left" VALIGN="middle">$form.getEditFormAmount(10)</TD>
         </TR>
         <TR>
          <TD class="label" ALIGN="right" VALIGN="middle"><B>Received</B></TD>
          <TD class="input" ALIGN="left" VALIGN="middle">$form.getEditFormReceived(10)</TD>
         </TR>
        <TR>
          <TD class="label" ALIGN="right" VALIGN="middle"><B>Status</B></TD>
          <TD class="input" ALIGN="left" VALIGN="middle">Valid</TD>
        </TR>
        <TR>
          <TD class="label" ALIGN="right" VALIGN="middle"><B>Payment&nbsp;Method</B></TD>
          <TD class="input" ALIGN="left" VALIGN="middle">$form.getEditFormMethod("big")</TD>
        </TR>
        <TR>
          <TD class="label" ALIGN="right" VALIGN="middle"><B>Comments</B></TD>
          <TD class="input" ALIGN="left" VALIGN="middle">$form.getEditFormComments(40)</TD>
         </TR>
         <TR>
          <TD class="label"></TD>
          <TD class="input" ALIGN="left" VALIGN="middle">
            $form.getEditFormSubmitButton("Submit payment", "submit")
          </TD>
         </TR>
        </TABLE>
##