#parse( "strings/resend_status_email.strings.vm" )
<td class="contentbox">
  <div class="pageheader">$strPageTitle</div>
  <hr class="contentbox"/>
  #parse( "errorlisting.vm" )
  
  $form.getFormHeader()

  #parse( "resendStatusEmailForm.vm" )

  $form.getFormFooter()
</td>
