#parse( "strings/rooms.strings.vm" )
<td class="contentbox">
    #parse( "local/localmessage.vm" )

    <div class="pageheader">$strRoomManagementTitle</div>
    <hr class="contentbox"/>

    <noscript><b>$strJavascriptDisabled</b> $strPleaseEnableJavascript</noscript>
    <div id="app"></div>
</td>
