  <TABLE BORDER="0" CELLPADDING="2" CELLSPACING="2">
    <TR>
      <TD class="label" ALIGN="right" VALIGN="middle">Registration&nbsp;No.</TD>
      <TD class="input" ALIGN="left" VALIGN="middle">##
${form.fieldId(10,"small")}##
${form.submitDirectEdit("Direct Edit","submit_small")}##
      </TD>
    </TR>

    <TR>
      <TD class="label" ALIGN="right" VALIGN="middle">Nickname</TD>
      <TD class="input" ALIGN="left" VALIGN="middle">$form.fieldNick(20)</TD>
    </TR>

  </TABLE>
