  <TABLE BORDER="0" CELLPADDING="2" CELLSPACING="2">
    <TR>
      <TD class="label" ALIGN="right" VALIGN="middle">Registration&nbsp;No.</TD>
      <TD class="input" ALIGN="left" VALIGN="middle">##
${form.fieldId(10,"small")}##
${form.submitSearch("Search","submit_small")}
      </TD>

      <TD class="label" ALIGN="right" VALIGN="middle">Order&nbsp;By</TD>
      <TD class="input" ALIGN="left" VALIGN="middle">$form.fieldOrderBy("small")</TD>
    </TR>

    <TR>
      <TD class="label" ALIGN="right" VALIGN="middle">Min&nbsp;RegNo.</TD>
      <TD class="input" ALIGN="left" VALIGN="middle">$form.fieldMinId(10, "small")</TD>

      <TD class="label" ALIGN="right" VALIGN="middle">Max&nbsp;RegNo.</TD>
      <TD class="input" ALIGN="left" VALIGN="middle">$form.fieldMaxId(10, "small")</TD>
    </TR>

    <TR>
      <TD class="label" ALIGN="right" VALIGN="middle">Nickname</TD>
      <TD class="input" ALIGN="left" VALIGN="middle">$form.fieldNick(20)</TD>

      <TD class="label" ALIGN="right" VALIGN="middle">Status</TD>
      <TD class="input" ALIGN="left" VALIGN="middle">$form.fieldStatus("small")</TD>
    </TR>

    <TR>
      <TD class="label" ALIGN="right" VALIGN="middle">Name</TD>
      <TD class="input" ALIGN="left" VALIGN="middle">$form.fieldName(60)</TD>

      <TD class="label" ALIGN="right" VALIGN="middle">Address</TD>
      <TD class="input" ALIGN="left" VALIGN="middle">$form.fieldAddress(60)</TD>
    </TR>

    <TR>
      <TD class="label" ALIGN="right" VALIGN="middle">Comments</TD>
      <TD class="input" ALIGN="left" VALIGN="middle">$form.fieldComments(60)</TD>
     
      <TD class="label" ALIGN="right" VALIGN="middle">Overdue</TD>
      <TD class="input" ALIGN="left" VALIGN="middle">$form.fieldOverdue("small")</TD>
    </TR>

    <TR>
      <TD class="label" align="right">Exclude</TD>
      <TD class="input" ALIGN="left" VALIGN="top">##
${form.fieldXnew("check")}&nbsp;new&nbsp;&nbsp;&nbsp;##
${form.fieldXwaiting("check")}&nbsp;waiting&nbsp;&nbsp;&nbsp;##
${form.fieldXcancelled("check")}&nbsp;cancelled</TD>

        <TD class="label" ALIGN="right" VALIGN="middle">Sponsor Items</TD>
        <TD class="input" ALIGN="left" VALIGN="middle">$form.fieldSponsorItems("small")</TD>
    </TR>

    <TR>
      <TD></TD>
      <TD></TD>

      <TD></TD>
      <TD class="input" ALIGN="left" VALIGN="middle"><A HREF="$form.resetFormUrl">Reset Search Form</A></TD>
    </TR>

    <TR>
    </TR>

    <TR>
      <TD colspan="2">
        <div class="headline">Flags/Options:</div>
        <hr class="contentbox">
      </TD>

      <TD colspan="2">
        <div class="headline">Packages:</div>
        <hr class="contentbox">
      </TD>
    </TR>

    #foreach ($index in $form.getFlagAndPackageIndexArray())
    <TR>
      #set ($flag = false)
      #set ($flag = $form.getFlag($index))
      #if ($flag)
        <TD class="label" ALIGN="right" VALIGN="middle"><b>$form.getOptionName($flag)</b></TD>
        <TD class="input" ALIGN="left" VALIGN="middle">$form.fieldFlag($flag,"small")</TD>
      #else
        <TD></TD>
        <TD></TD>
      #end

      #set ($package = false)
      #set ($package = $form.getPackage($index))
      #if ($package)
        <TD class="label" ALIGN="right" VALIGN="middle"><b>$form.getOptionName($package)</b></TD>
        <TD class="input" ALIGN="left" VALIGN="middle">$form.fieldPackage($package,"small")</TD>
      #else
        <TD></TD>
        <TD></TD>      
      #end
    </TR>

    #end## Flags and Packages loop
  </TABLE>
