<td class="contentbox">
    <div class="pageheader">SEPA Payment Information</div>
    <hr class="contentbox">

    #parse( "errorlisting.vm" )

    #if($page.mayView())##
        <div class="headline">Paying by SEPA money transfer</div>
        <hr class="contentbox">
        $page.FormHeader
        <TABLE>
            <TR>
                <TD class="label" ALIGN="right" VALIGN="middle">Account owner</TD>
                <TD class="input" ALIGN="left" VALIGN="middle">$page.AccountOwner</TD>
            </TR>
            <TR>
                <TD class="label" ALIGN="right" VALIGN="middle">Bank</TD>
                <TD class="input" ALIGN="left" VALIGN="middle">$page.BankName</TD>
            </TR>
            <TR>
                <TD class="label" ALIGN="right" VALIGN="middle">Address</TD>
                <TD class="input" ALIGN="left" VALIGN="middle">$page.BankAddress</TD>
            </TR>
            <TR>
                <TD class="label" ALIGN="right" VALIGN="middle">IBAN</TD>
                <TD class="input" ALIGN="left" VALIGN="middle">$page.Iban</TD>
            </TR>
            <TR>
                <TD class="label" ALIGN="right" VALIGN="middle">BIC</TD>
                <TD class="input" ALIGN="left" VALIGN="middle">$page.Bic</TD>
            </TR>
            <TR>
                <TD class="label" ALIGN="right" VALIGN="middle">Amount</TD>
                <TD class="input" ALIGN="left" VALIGN="middle">$page.Amount</TD>
            </TR>
            <TR>
                <TD class="label" ALIGN="right" VALIGN="middle">Subject</TD>
                <TD class="input" ALIGN="left" VALIGN="middle">$page.Subject</TD>
            </TR>
            <TR>
                <TD>${page.submitBack("Cancel", "submit_small")}</TD>
                <TD>${page.submitSent("I have sent this payment!", "submit")}</TD>
            </TR>
        </TABLE>
        $page.FormFooter
    #else##
        <div class="contentbox">An error has occurred.</div><br/>
        $page.FormHeader
        ${page.submitBack("Go Back", "submit_small")}
        $page.FormFooter
    #end##

</td>
##
