#if($page.Language == "de-DE")
<td class="contentbox">
    <div class="pageheader">&Uuml;berweisungsinformationen</div>
    <hr class="contentbox">

    #parse( "errorlisting.vm" )

    #if($page.mayView())##
        <div class="headline">Zahlung per SEPA Bank&uuml;berweisung</div>
        <hr class="contentbox">
        $page.FormHeader
        #if($page.unavailable())##
            <TABLE BORDER="0" class="error">
                <TR>
                    <TH class="error">
                        Es ist zu sp&auml;t f&uuml;r Zahlungen per &Uuml;berweisung!
                    </TH>
                </TR>
                <TR>
                    <TD class="error">Zahlungen per &Uuml;berweisung brauchen mehrere Tage, bis sie bei uns auf dem Konto eintreffen.
                        So kurz vor der Convention bitten wir deshalb, auf &Uuml;berweisungen zu verzichten.</TD>
                </TR>
            </TABLE>
            <TABLE>
                <TR>
                    <TD>${page.submitBack("Zur&uuml;ck", "submit_small")}</TD>
                </TR>
            </TABLE>
        #else##
        <p><b>Wichtig:</b> Dies ist kein Bankeinzug! Du musst selbst per online-Banking &uuml;berweisen!</p>
        <TABLE>
            <TR>
                <TD class="label" ALIGN="right" VALIGN="middle">Kontoinhaber</TD>
                <TD class="input" ALIGN="left" VALIGN="middle">$page.AccountOwner</TD>
            </TR>
            <TR>
                <TD class="label" ALIGN="right" VALIGN="middle">Bank</TD>
                <TD class="input" ALIGN="left" VALIGN="middle">$page.BankName</TD>
            </TR>
            <TR>
                <TD class="label" ALIGN="right" VALIGN="middle">Addresse</TD>
                <TD class="input" ALIGN="left" VALIGN="middle">$page.BankAddress</TD>
            </TR>
            <TR>
                <TD class="label" ALIGN="right" VALIGN="middle">IBAN</TD>
                <TD class="input" ALIGN="left" VALIGN="middle">$page.Iban</TD>
            </TR>
            <TR>
                <TD class="label" ALIGN="right" VALIGN="middle">BIC</TD>
                <TD class="input" ALIGN="left" VALIGN="middle">$page.Bic</TD>
            </TR>
            <TR>
                <TD class="label" ALIGN="right" VALIGN="middle">Betrag</TD>
                <TD class="input" ALIGN="left" VALIGN="middle">$page.Amount</TD>
            </TR>
            <TR>
                <TD class="label" ALIGN="right" VALIGN="middle">Betreff</TD>
                <TD class="input" ALIGN="left" VALIGN="middle">$page.Subject</TD>
            </TR>
            <TR>
                <TD>${page.submitBack("Zur&uuml;ck", "submit_small")}</TD>
                <TD>${page.submitSent("Ich habe &uuml;berwiesen!", "submit")}</TD>
            </TR>
        </TABLE>
        #end##
        $page.FormFooter
    #else##
        <div class="contentbox">Ein Fehler ist aufgetreten.</div><br/>
        $page.FormHeader
        ${page.submitBack("Zur&uuml;ck", "submit_small")}
        $page.FormFooter
    #end##

</td>
#else
<td class="contentbox">
    <div class="pageheader">SEPA Payment Information</div>
    <hr class="contentbox">

    #parse( "errorlisting.vm" )

    #if($page.mayView())##
        <div class="headline">Paying by SEPA money transfer</div>
        <hr class="contentbox">
        $page.FormHeader
        #if($page.unavailable())##
            <TABLE BORDER="0" class="error">
                <TR>
                    <TH class="error">
                        It is too late to send SEPA money transfers!
                    </TH>
                </TR>
                <TR>
                    <TD class="error">SEPA transfers may take up to a week to process.
                        This close to the convention we ask that you do not make payments by money transfer.</TD>
                </TR>
            </TABLE>
            <TABLE>
                <TR>
                    <TD>${page.submitBack("Back", "submit_small")}</TD>
                </TR>
            </TABLE>
        #else##
        <p><b>Important:</b> You will have to transfer the money from your account yourself, for example using online banking.</p>
        <TABLE>
            <TR>
                <TD class="label" ALIGN="right" VALIGN="middle">Account owner</TD>
                <TD class="input" ALIGN="left" VALIGN="middle">$page.AccountOwner</TD>
            </TR>
            <TR>
                <TD class="label" ALIGN="right" VALIGN="middle">Bank</TD>
                <TD class="input" ALIGN="left" VALIGN="middle">$page.BankName</TD>
            </TR>
            <TR>
                <TD class="label" ALIGN="right" VALIGN="middle">Address</TD>
                <TD class="input" ALIGN="left" VALIGN="middle">$page.BankAddress</TD>
            </TR>
            <TR>
                <TD class="label" ALIGN="right" VALIGN="middle">IBAN</TD>
                <TD class="input" ALIGN="left" VALIGN="middle">$page.Iban</TD>
            </TR>
            <TR>
                <TD class="label" ALIGN="right" VALIGN="middle">BIC</TD>
                <TD class="input" ALIGN="left" VALIGN="middle">$page.Bic</TD>
            </TR>
            <TR>
                <TD class="label" ALIGN="right" VALIGN="middle">Amount</TD>
                <TD class="input" ALIGN="left" VALIGN="middle">$page.Amount</TD>
            </TR>
            <TR>
                <TD class="label" ALIGN="right" VALIGN="middle">Subject</TD>
                <TD class="input" ALIGN="left" VALIGN="middle">$page.Subject</TD>
            </TR>
            <TR>
                <TD>${page.submitBack("Cancel", "submit_small")}</TD>
                <TD>${page.submitSent("I have sent this payment!", "submit")}</TD>
            </TR>
        </TABLE>
        #end##
        $page.FormFooter
    #else##
        <div class="contentbox">An error has occurred.</div><br/>
        $page.FormHeader
        ${page.submitBack("Go Back", "submit_small")}
        $page.FormFooter
    #end##

</td>
##
#end
