#parse( "strings/stats.strings.vm" )
<td class="contentbox">
   <div class="headline"><br/>$strTitle</div>
   <hr class="contentbox"/>
   #parse( "errorlisting.vm" )

#if (!$page.hasErrors())##

  <TABLE WIDTH="90%" BORDER="0" CELLPADDING="4" CELLSPACING="4" align="CENTER">
   <TR>
     <TD ALIGN="LEFT" VALIGN="TOP">
        <TABLE>
          <TR><TD colspan=2 ALIGN="LEFT"><div class="headline">By Status</div><hr class="contentbox"></TD></TR>

          <TR><TD class="tbl_value" ALIGN="RIGHT">+ ${page.getByStatus("approved")}</TD><TD class="tbl_label">approved ($page.overdueCount() overdue)</TD></TR>
          <TR><TD class="tbl_value" ALIGN="RIGHT">+ ${page.getByStatus("partially paid")}</TD><TD class="tbl_label">partially paid</TD></TR>
          <TR><TD class="tbl_value" ALIGN="RIGHT">+ ${page.getByStatus("paid")}</TD><TD class="tbl_label">paid</TD></TR>
          <TR><TD class="tbl_value" ALIGN="RIGHT">+ ${page.getByStatus("checked in")}</TD><TD class="tbl_label">checked in</TD></TR>
          <TR><TD colspan=2 ALIGN="LEFT"><hr class="contentbox"></TD></TR>
          <TR><TD class="tbl_value" ALIGN="RIGHT">= ${page.getByStatus("attending_count")}</TD><TD class="tbl_label">Attending</TD></TR>
          <TR><TD class="tbl_value" ALIGN="RIGHT">+ ${page.getByStatus("new")}</TD><TD class="tbl_label">new</TD></TR>
          <TR><TD class="tbl_value" ALIGN="RIGHT">+ ${page.getByStatus("waiting")}</TD><TD class="tbl_label">waiting</TD></TR>
          <TR><TD class="tbl_value" ALIGN="RIGHT">+ ${page.getByStatus("cancelled")}</TD><TD class="tbl_label">cancelled</TD></TR>
          <TR><TD colspan=2 ALIGN="LEFT"><hr class="contentbox"></TD></TR>
          <TR><TD class="tbl_value" ALIGN="RIGHT">= ${page.getByStatus("total_count")}</TD><TD class="tbl_label">Registered</TD></TR>
        </TABLE>
     </TD>

     #set( $by_type = $page.getByType() )## 0=std 1=guest 2=day -> Long
     <TD ALIGN="LEFT" VALIGN="TOP">
        <TABLE>
          <TR><TD colspan=2 ALIGN="LEFT"><div class="headline">By Type</div><hr class="contentbox"></TD></TR>

          <TR><TD class="tbl_value" ALIGN="RIGHT">$by_type[0]</TD><TD class="tbl_label">Standard</TD></TR>
          <TR><TD class="tbl_value" ALIGN="RIGHT">+ $by_type[2]</TD><TD class="tbl_label">Single Day</TD></TR>
          <TR><TD colspan=2 ALIGN="LEFT"><hr class="contentbox"></TD></TR>
          #set( $attendingNoGuests = $page.getByStatus("attending_count") - $by_type[1] )##
          <TR><TD class="tbl_value" ALIGN="RIGHT">= $attendingNoGuests<TD class="tbl_label">Paying</TD></TR>
          <TR><TD class="tbl_value" ALIGN="RIGHT">+ $by_type[1]</TD><TD class="tbl_label">Guests</TD></TR>
          <TR><TD colspan=2 ALIGN="LEFT"><hr class="contentbox"></TD></TR>
          <TR><TD class="tbl_value" ALIGN="RIGHT">= $page.getByStatus("attending_count")</TD><TD class="tbl_label">Attending</TD></TR>
        </TABLE>
     </TD>

         <TD ALIGN="LEFT" VALIGN="TOP">
            <TABLE>
              <TR><TD colspan=2 ALIGN="LEFT"><div class="headline">Packages</div><hr class="contentbox"></TD></TR>
              #foreach($e in $page.getByPackage().entrySet())
              <TR>
                <TD class="tbl_value" ALIGN="RIGHT">$e.value</TD>
                <TD class="tbl_label">$e.key</TD>
              </TR>
              #end
            </TABLE>
         </TD>

         <TD ALIGN="LEFT" VALIGN="TOP">
          <TABLE>
              <TR><TD colspan=2 ALIGN="LEFT"><div class="headline">Flags</div><hr class="contentbox"></TD></TR>
              #foreach($e in $page.getByFlag().entrySet())
                  <TR>
                      <TD class="tbl_value" ALIGN="RIGHT">$e.value</TD>
                      <TD class="tbl_label">$e.key</TD>
                  </TR>
              #end
            </TABLE>
         </TD>
       </TR>
       <TR>
         <TD ALIGN="LEFT" VALIGN="TOP">
            <TABLE>
              <TR><TD colspan=2 ALIGN="LEFT"><div class="headline">Specials</div><hr class="contentbox"></TD></TR>

              <TR><TD class="tbl_value" ALIGN="RIGHT">$page.minorsCount()</TD><TD class="tbl_label">Minors</TD></TR>
              <TR><TD class="tbl_value" ALIGN="RIGHT">$page.overpaidCount()</TD><TD class="tbl_label">Overpaid</TD></TR>
            </TABLE>
             <p><br/></p>

             #set( $finances = $page.getFinances() )## string->string
            <TABLE>
              <TR><TD colspan=2 ALIGN="LEFT"><div class="headline">Finances</div><hr class="contentbox"></TD></TR>

              <TR><TD class="tbl_value" ALIGN="RIGHT">= $finances.total_dues      </TD><TD class="tbl_label">Total Dues</TD></TR>

              <TR><TD class="tbl_value" ALIGN="RIGHT">- $finances.received        </TD><TD class="tbl_label">Received</TD></TR>
              <TR><TD colspan=2 ALIGN="LEFT"><hr class="contentbox"></TD></TR>

              <TR><TD class="tbl_value" ALIGN="RIGHT">= $finances.remain_dues     </TD><TD class="tbl_label">Remaining Dues</TD></TR>
              <TR><TD class="tbl_value" ALIGN="RIGHT">- $finances.overpaid_amount </TD><TD class="tbl_label">Overpaid amount</TD></TR>
              <TR><TD colspan=2 ALIGN="LEFT"><hr class="contentbox"></TD></TR>
              <TR><TD class="tbl_value" ALIGN="RIGHT">= $finances.total            </TD><TD class="tbl_label"></TD></TR>
            </TABLE>
         </TD>
       <TD ALIGN="LEFT" COLSPAN="2" VALIGN="TOP">
               <TABLE>
                   <TR><TD colspan="6" ALIGN="LEFT"><div class="headline">All Payments by method (incl. Cancelled Attendees)</div><hr class="contentbox"></TD></TR>

                      <TR>
                          <TD class="tbl_label">Method</TD>
                          <TD class="tbl_label" colspan="2">Received</TD>
                          <TD class="tbl_label" colspan="2">Paid</TD>
                          <TD class="tbl_label">Sum</TD>
                      </TR>
                      #foreach( $method in $page.getByPayMethodKeys() )
                      <TR>
                          <TD class="tbl_label" ALIGN="LEFT">$method</TD>
                          #set( $values = $page.getByPayMethod($method) )##
                          <TD class="tbl_value" ALIGN="RIGHT">$values.incoming&nbsp;&euro;</TD>
                          <TD class="tbl_label" ALIGN="RIGHT">&nbsp;($values.incoming_count)&nbsp;</TD>
                          <TD class="tbl_value" ALIGN="RIGHT">$values.outgoing&nbsp;&euro;</TD>
                          <TD class="tbl_label" ALIGN="RIGHT">&nbsp;($values.outgoing_count)&nbsp;</TD>
                          <TD class="tbl_value" ALIGN="RIGHT">$values.total&nbsp;&euro;</TD>
                      </TR>
                      #end
                      <TR><TD colspan="6" ALIGN="LEFT"><hr class="contentbox"></TD></TR>
                       <TR>
                           <TD class="tbl_label" ALIGN="LEFT">TOTAL</TD>
                           #set( $values = $page.getSums() )##
                           <TD class="tbl_value" ALIGN="RIGHT">$values.incoming&nbsp;&euro;</TD>
                           <TD class="tbl_label" ALIGN="RIGHT">&nbsp;($values.incoming_count)&nbsp;</TD>
                           <TD class="tbl_value" ALIGN="RIGHT">$values.outgoing&nbsp;&euro;</TD>
                           <TD class="tbl_label" ALIGN="RIGHT">&nbsp;($values.outgoing_count)&nbsp;</TD>
                           <TD class="tbl_value" ALIGN="RIGHT">$values.total&nbsp;&euro;</TD>
                       </TR>
               </TABLE>
       </TD>
   </TR>
  </TABLE>
<br/>

<div class="contentbox"><center>All stats show attending members unless otherwise noted</center></div>

#end##
</td>
