##  put any version specific messages here
##
##  ------------ devel sandbox on server --------------
#if(false)##
<div id="debuginfo">
<TABLE BORDER="0" class="debuginfo">
   <TR>
    <TH class="debuginfo"><font color="red">Test system - Test database</font></TH>
   </TR>
   <TR>
    <TD class="debuginfo">
    <p>Dies ist nicht das Registrierungssystem, das Du suchst. Alles, was Du hier t&auml;tigst, wird nur eines zur Folge haben - die Entwickler bei der Arbeit st&ouml;ren und echt abnerven.</p>

    <p>Sofern man Dich nicht darum gebeten hat hier etwas zu testen... FINGER WEG! Dies ist nur ein Testsystem und es gibt keine M&ouml;glichkeit Dich hier zu Registrieren.</p>

    <h2>WICHTIG:</h2>

    <p><b><font color="red">Wichtiger Hinweis an die Tester: BITTE NUR MIT EURER <blink>EIGENEN</blink> EMAILADRESSE REGISTRIEREN, DAS SYSTEM SENDET GGF. ECHTE MAILS,
          DAMIT WIR DEN MAILVERSAND UND DIE TEMPLATES TESTEN K&Ouml;NNEN!
          VORSICHT BEIM AUSL&Ouml;SEN VON ADMIN-OPERATIONEN, DIE MAILS VERSENDEN!</font></b></p>
    </TD>
   </TR>
</TABLE>
</div>
#end##
##
##  ------------ staff reg and credit card testing --------------
#if(false)##
<div id="debuginfo">
<TABLE BORDER="0" class="debuginfo">
   <TR>
    <TH class="debuginfo"><font color="red">Dies ist die Vorab-Reg</font></TH>
   </TR>
   <TR>
    <TD class="debuginfo">
    <p>Vorab-Reg f&uuml;r ehemalige Teilnehmer und deren Lebenspartner! Die Anmeldung f&uuml;r regul&auml;re G&auml;ste ist noch nicht ge&ouml;ffnet.</p>

    </TD>
   </TR>
</TABLE>
</div>
#end##
