##
##  if there are any errors, display them listed in a box
##
#if ( $page.hasErrors() )##
  #set ( $errCount = $page.ErrorCount )##
  <TABLE BORDER="0" class="error">
   <TR>
    <TH class="error">
        #if($errCount==1)Der folgende Fehler trat#else Die folgenden $errCount Fehler traten#end bei der Verarbeitung auf:
    </TH>
   </TR>
   #foreach ( $errMessage in $page.Errors )##
   <TR>
    <TD class="error">$errMessage</TD>
   </TR>
   #end##
  </TABLE>
#end##