            <TABLE class="prices" width="100%">
              <TR>
                <TD colspan="2" class="input" valign="middle">&nbsp;</TD>
                <TH class="prices" ALIGN="center">Preis</TH>
              </TR>
              #foreach ($option in $form.getPackages())##
              <TR>
                <TH class="prices" align="center">$form.fieldPackage($option)</TH>
                <TH class="prices"><label for="$form.getPackageParam($option)">$form.getOptionName($option)</label></TH>
                <TD class="prices">$form.getOptionPrice($option) &euro; </TD>
              </TR>
              #end##
            </TABLE>
 