  Bald erh&auml;lst Du eine Mail mit weiteren Informationen. Dies kann in seltenen F&auml;llen einige Tage dauern, da alle Registrierungen von uns manuell gepr&uuml;ft werden.
  F&uuml;r gew&ouml;hnlich werden Registrierungen jedoch binnen weniger Stunden bearbeitet. Sollte Dich binnen f&uuml;nf (5) Tagen keine Mail erreichen, so kontaktiere
  uns bitte.</a><br><br>
  
