## some of these render as blank if user lacks permission
$form.submitExportEmail("Email Adressen","submit_small")
$form.submitExportCsv("CSV Export","submit_small")
$form.submitExportBadge("Badge Export","submit_small")
$form.submitExportWaiver("Export der Hausorndung","submit_small")
$form.submitBulkmail("Benachrichtigung versenden","submit_small")
$form.submitResendStatusEmail("Status Email erneut versenden","submit_small")
#if($form.mayMassAccept())
    $form.submitMassAccept("Massenregistrierung","submit_small")
#end
<br/><br/>

#if($form.longVersion)##
  (<b>More Details</b> | <A HREF="$form.shortAgainUrl">Weniger Details</A>)
#else##
  (<A HREF="$form.longAgainUrl">Mehr Details</A> | <b>Weniger Details</b>)
#end##
<p/>

<TABLE class="searchlist">
   <TR class="late">
     <TH class="searchlist" ALIGN="right" VALIGN="middle" >
       <B>No.</B>
     </TH>
     <TH class="searchlist" ALIGN="right" VALIGN="middle" >
       <B>MNo.</B>
     </TH>
     <TH class="searchlist" ALIGN="left" VALIGN="middle" >
       <B>Nick</B>
     </TH>
     <TH class="searchlist" ALIGN="left" VALIGN="middle" >
       <B>RL Name</B>
     </TH>
#if($form.longVersion)##
     <TH class="searchlist" ALIGN="left" VALIGN="middle" >
       <B>Email</B>
     </TH>
#end##
     <TH class="searchlist" ALIGN="left" VALIGN="middle" >
       <B>Status</B>
     </TH>
     <TH class="searchlist" ALIGN="left" VALIGN="middle" >
       <B>Typ</B>
     </TH>
#if($form.longVersion)##
     <TH class="searchlist" ALIGN="right" VALIGN="middle" >
       <B>Betrag total</B>
     </TH>
#end##
     <TH class="searchlist" ALIGN="right" VALIGN="middle" >
       <B>Zahlfrist</B>
     </TH>
     <TH class="searchlist" ALIGN="center" VALIGN="middle" >
       <B>Versp&auml;tet</B>
     </TH>
     <TH class="searchlist" ALIGN="center" VALIGN="middle" >
       <B>Bezahlt</B>
     </TH>
#if($form.longVersion)##
     <TH class="searchlist" ALIGN="center" VALIGN="middle" >
       <B>Registriert</B>
     </TH>
#end##
     <TH class="searchlist" ALIGN="left" VALIGN="middle" >
       $form.allExceptCheckbox("check")
     </TH>
   </TR>

#foreach($i in [0..10000])## if there are more than this many results, the page will load forever anyway
 #if($form.nextAttendeeAvailable())## velocity has no while loop, seriously?
   <TR>
     <TD class="searchlist" ALIGN="right" VALIGN="middle" >
       $form.count
     </TD>
     <TD class="searchlist" ALIGN="right" VALIGN="middle" >
       $form.id
     </TD>
     <TD class="searchlist" ALIGN="left" VALIGN="middle" >
       <A class="searchlist" HREF="$form.editAttendeeUrl()">$form.nick</A>
     </TD>
     <TD class="searchlist" ALIGN="left" VALIGN="middle" >
       ${form.firstName}&nbsp;${form.lastName}
     </TD>
  #if($form.longVersion)##
     <TD class="searchlist" ALIGN="left" VALIGN="middle" >
       $form.email
     </TD>
  #end##
     <TD class="searchlist" ALIGN="left" VALIGN="middle" >
       <A class="searchlist" HREF="$form.editAttendeeAdminPageUrl()">$form.status</A>
     </TD>
     <TD class="searchlist" ALIGN="left" VALIGN="middle" >
       $form.type
     </TD>
  #if($form.longVersion)##
     <TD class="searchlist" ALIGN="right" VALIGN="middle" >
       ${form.amountDue}&nbsp;&euro;
     </TD>
  #end##
     <TD class="searchlist" ALIGN="right" VALIGN="middle" >
       <A class="searchlist" HREF="$form.viewPaymentsUrl()">${form.remainingDues}&nbsp;&euro;</A>
     </TD>
     <TD class="searchlist" ALIGN="center" VALIGN="middle" >
       #if($form.overdue) <font color="#ff0000">X</font> #else &nbsp; #end
     </TD>
     <TD class="searchlist" ALIGN="center" VALIGN="middle" >
       $form.reportedPaydate
     </TD>
  #if($form.longVersion)##
     <TD class="searchlist" ALIGN="center" VALIGN="middle" >
       $form.registrationDate
     </TD>
  #end##
     <TD class="searchlist" ALIGN="left" VALIGN="middle">
       $form.currentCheckbox("check")
     </TD>
   </TR>
 #else##
  #break($foreach)##
 #end##
#end## foreach
</TABLE>
$form.allIdsHiddenField()
