##
##   This file contains a message that is put in a big yellow box on the start and registration page. 
##   We use it for important announcements, such as "payments via credit card not available yet".
##
#set ( $showMessage = false )##
##
#if ( $showMessage )##
<!-- begin announcement message -->
<div id="debuginfo">
<TABLE BORDER="0" class="debuginfo">
   <TR>
    <TH class="debuginfo"><font color="red">Wichtige Anmerkung: Zimmergr&ouml;&szlig;e</font></TH>
   </TR>
   <TR>
    <TD class="debuginfo">
    4er- und 5er-Zimmer sind ausgebucht. Wenn Du eine dieser Zimmeroptionen buchst, m&uuml;ssen wir Dich auf die Warteliste setzen.<br/><br/>
    Eine kleinen Anzahl an 6er-Zimmern steht noch zur Buchung zur Verf&uuml;gung.
    </TD>
   </TR>
</TABLE>
</div>
<!-- announcement message ends -->
#end##