##
##  Notify attendees that the registration system has been taken offline or is readonly before the convention.
##  The message is put in a big yellow box on the start and registration page.
##
#if ( $page.showBeforeConventionAnnouncement() )##
    <div id="debuginfo">
    <TABLE BORDER="0" class="debuginfo">
       <TR>
        <TH class="debuginfo">##
#if ( $page.showBeforeConventionAnnouncementOffline() )##
Das Registrierungssystem ist geschlossen.##
#elseif ( $page.showBeforeConventionAnnouncementReadonly() )##
Das Registrierungssystem befindet sich im Modus 'nur lesen'.##
#else##
Das Registrierungssystem wird gerade f&uuml;r die Veranstaltung vorbereitet.##
#end##
</TH>
       </TR>
       <TR>
        <TD class="debuginfo">##
#if ( $page.showBeforeConventionAnnouncementOffline() )##
Das Registrierungssystem ist f&uuml;r den Zeitraum der Veranstaltung inaktv.<p/>

          In dem Zeitraum kurz vor der Veranstaltung kannst Du keine Registrierung mehr t&auml;tigen oder Angaben &auml;ndern.<p/>

          In dringenden F&auml;llen kannst Du uns auf der Veranstaltung bei der Anmeldung auf Dein Anliegen ansprechen.##
#elseif ( $page.showBeforeConventionAnnouncementReadonly() )##
Das Registrierungssystem befindet sich im Modus 'nur lesen'<p/>

          In dem Zeitraum kurz vor der Veranstaltung kannst Du keine Registrierung mehr t&auml;tigen oder Angaben &auml;ndern.<p/>

          In dringenden F&auml;llen kannst Du uns eine E-Mail senden.##
#else##
Die Veranstaltung findet in wenigen Tagen statt und ist ausgebucht. Bitte nicht mehr anmelden.<p/>

Bitte auch <b>keine &Auml;nderungen</b> mehr an den Zimmergruppen vornehmen. Die Zimmerplanung ist bereits abgeschlossen.<p/>

          In dringenden F&auml;llen kannst Du uns eine E-Mail senden.##
#end##
</TD>
       </TR>
    </TABLE>
    </div>
#end##