        <TABLE border="0">
         <TR>
          <TD class="label" ALIGN="right" VALIGN="middle"><B>Betrag</B></TD>
          <TD class="input" ALIGN="left" VALIGN="middle">$form.getEditFormAmount(10)</TD>
         </TR>
         <TR>
          <TD class="label" ALIGN="right" VALIGN="middle"><B>Erhalten</B></TD>
          <TD class="input" ALIGN="left" VALIGN="middle">$form.getEditFormReceived(10)</TD>
         </TR>
        <TR>
          <TD class="label" ALIGN="right" VALIGN="middle"><B>Status</B></TD>
          <TD class="input" ALIGN="left" VALIGN="middle">Confirmed</TD>
        </TR>
        <TR>
          <TD class="label" ALIGN="right" VALIGN="middle"><B>Zahlungsart</B></TD>
          <TD class="input" ALIGN="left" VALIGN="middle">$form.getEditFormPaymentType("big")</TD>
        </TR>
        <TR>
          <TD class="label" ALIGN="right" VALIGN="middle"><B>Kommentare</B></TD>
          <TD class="input" ALIGN="left" VALIGN="middle">$form.getEditFormComments(40)</TD>
         </TR>
         <TR>
          <TD class="label"></TD>
          <TD class="input" ALIGN="left" VALIGN="middle">
            $form.getEditFormSubmitButton("Submit payment", "submit")
          </TD>
         </TR>
        </TABLE>
##